﻿@using Utils
@inject IJSRuntime JsRuntime

@namespace Components.ZxingBarcodeScanner

@if( IsVisible )
{
	<video id="zxingVideo" style="height: 100%; width: 100%;" autoplay></video>
}

@code {

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public Action<string>? OnBarcode { get; set; }

	private DotNetObjectReference<ZxingBarcodeScanner> ObjectReference = null!;

	protected override void OnInitialized()
	{
		ObjectReference = DotNetObjectReference.Create( this );
	}

	[JSInvokable]
	public async void OnBarcodeScanned( string? barcode )
	{
		try
		{
			await StopScanner();
			var BCode = barcode ?? "";

			if( BCode.IsNotNullOrWhiteSpace() )
				OnBarcode?.Invoke( BCode );
		}
	#if DEBUG
		catch( Exception E )
		{
			Console.WriteLine( E );
		}
	#else
        catch
        {
        }
	#endif
	}

	public async Task StopScanner()
	{
		await JsRuntime.InvokeVoidAsync( "barcodeScanner.stop" );
	}

	public async Task StartScanner()
	{
		await JsRuntime.InvokeVoidAsync( "barcodeScanner.initialize", "zxingVideo", ObjectReference );
	}

}
