﻿@namespace Components.Menu

@page             "/PickupDeliveries/NoLocation/PickupDeliveries" 
@using Components.DisplayShipments
@using Components.Dialogs
@using Components.PopPodSign
@using Extensions
@using Protocol.Data
@using DeviceTripUpdate = TripManagement.Packets.DeviceTripUpdate

<style>
	.mainDiv {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.mainDiv .buttonsDiv {
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		margin-bottom: 2.5rem;
		width: 100%;
	}

	.mainDiv .buttonsDiv button {
		background-color: var(--primary-background-color);
		border: none;
		color: var(--primary-text-color);
		flex-grow: 1;
		font-size: 1.5rem;
		height: 100%;
		padding-bottom: .5rem;
	}

	.mainDiv .buttonsDiv button[disabled="disabled"] { color: var(--button-disabled-color); }

</style>

<div class="mainDiv">
	@if( !PodAndSignVisible )
	{
		<DisplayShipments IsVisible="true"
						  ShowScanned="@ShowScanned"
						  OnTrips="OnTrips"
						  OnLongClick="OnLongClick"
						  OnClick="OnClick"/>

		<ConfirmDialog IsVisible="@ConfirmDialogVisible"
					   Message="Cancel Pickup / Delivery?"
					   OnClose="@ConfirmOnClose">
		</ConfirmDialog>
		<div style="flex-grow: 1">
		</div>
		<div class="buttonsDiv" style="visibility: @ButtonsVisibleAsString">
			<button @attributes="@AcceptAttributes" @onclick="@OnAcceptClick">Accept</button>
			<button @onclick="@OnCancelClick">Cancel</button>
		</div>
	}
	else
	{
		<PopPodSign IsVisible="true"
					Trip="@Trip"
					Pieces="@TotalPieces"
					Weight="@TotalWeight"
					OnCancel="OnPodSignCancel"
					OnAccept="OnPodAndSignAccept"/>
	}
</div>

@code {

	private OBSERVABLE_TRIP_DICTIONARY? Trips;
	private TripDisplayEntry            Trip = null!;

	private readonly ATTRIBUTES AcceptAttributes = VisualStates.Disabled( true );

	private string ButtonsVisibleAsString = VisualStates.Visible( false );

	private bool ShowScanned,
				 ConfirmDialogVisible,
				 PodAndSignVisible;


	private bool _ButtonsVisible,
				 _AcceptDisabled;

	private decimal TotalPieces, TotalWeight;


	private bool ButtonsVisible
	{
		set
		{
			if( VisualStates.Visible( value, ref _ButtonsVisible, ref ButtonsVisibleAsString ) )
				StateHasChanged();
		}
	}

	private bool AcceptDisabled
	{
		set
		{
			if( _AcceptDisabled != value )
			{
				_AcceptDisabled = value;
				VisualStates.Disabled( AcceptAttributes, value );
				StateHasChanged();
			}
		}
	}

	protected override void OnInitialized()
	{
		ButtonsVisible               = false;
		App.Globals.MainLayout.Title = "Pickup / Deliveries";
	}

	private void OnTrips( OBSERVABLE_TRIP_DICTIONARY trips )
	{
		Trips = trips;
		Trip  = trips.First().Value;
	}

	private void OnLongClick( TripDisplayEntry obj )
	{
		ButtonsVisible = false;
	}

	private void OnClick( TripDisplayEntry obj )
	{
		if( Trips is not null )
		{
			if( ShowScanned )
			{
				obj.Scanned += 1;

				if( obj.Remaining == 0 )
					obj.IsVisible = false;

				AcceptDisabled = Trips.Any( pair => pair.Value.IsVisible );
			}
			else
			{
				foreach( var (_, Entry) in Trips )
				{
					if( !Entry.IsSameCompany( obj ) )
						Entry.IsVisible = false;
					else
						Entry.ResetScanned();
				}
				ShowScanned    = true;
				ButtonsVisible = true;
			}
			StateHasChanged();
		}
	}

	private void OnCancelClick()
	{
		ConfirmDialogVisible = true;
		StateHasChanged();
	}

	private void ConfirmOnClose( bool ok )
	{
		if( ok )
		{
			PodAndSignVisible    = false;
			ConfirmDialogVisible = false;
			ShowScanned          = false;
			AcceptDisabled       = true;
			ButtonsVisible       = false;

			if( Trips is not null )
			{
				foreach( var (_, Entry) in Trips )
				{
					Entry.IsVisible = true;
					Entry.ResetScanned();
				}
			}
			StateHasChanged();
		}
	}

	private void OnAcceptClick()
	{
		decimal Pieces = 0,
				Weight = 0;

		if( Trips is { } T )
		{
			foreach( var (_, Entry) in T )
			{
				Pieces += Entry.Pieces;
				Weight += Entry.Weight;
			}
		}

		TotalPieces = Pieces;
		TotalWeight = Weight;

		PodAndSignVisible = true;
		StateHasChanged();
	}

	private void OnPodSignCancel()
	{
		ConfirmOnClose( true );
	}

	private async void OnPodAndSignAccept()
	{
		try
		{
			var Pieces = TotalPieces;

			if( Trips is not null )
			{
				var Location = App.Globals.Gps.CurrentGpsPoint;
				var Now      = DateTimeOffset.Now;

				foreach( var (_, T) in Trips )
				{
					var Du = new Records.DeviceTripUpdate
							 {
								 Program    = Globals.CURRENT_VERSION,
								 TripId     = T.TripId,
								 UpdateTime = Now,

								 Status = T.Status < STATUS.PICKED_UP ? STATUS.PICKED_UP : STATUS.VERIFIED,
								 Pieces = Math.Min( T.Pieces, Pieces ),
								 Weight = T.Weight,

								 UpdateLatitude  = Location.Latitude,
								 UpdateLongitude = Location.Longitude,

								 ArriveTime = Now
							 };
					await Update.UpdateTrip( new DeviceTripUpdate( Du ) );
				}
			}
		}
		catch
		{
		}
	}

}
