﻿@using System.Reflection
@using System.Timers
@using Utils
@using Gps = App.Globals
@namespace Components.BarcodeScanner

<style>
	.barcodeContainer {
		background-color: var(--barcode-background-color);
		color: var(--barcode-text-color);
		font-size: 4rem;
		line-height: 100%;
		position: relative;
		text-align: left;
		vertical-align: middle;
		width: 100%;
		z-index: 1000;
	}

	.barcodeContainer text {
		display: inline-block;
		left: 0;
		overflow: hidden;
		padding: 0 .75rem;
		position: absolute;
		text-overflow: ellipsis;
		top: 0;
		white-space: nowrap;
		width: 100%;
	}

	.barcodeContainer .placeholder {
		background-color: transparent;
		color: var(--barcode-placeholder-color);
	}

</style>

<div class="barcodeContainer" style="height: @Height; visibility: @Visibility;" id="BarcodeText">
	<text>@BarcodeText</text>
	<text class="placeholder">@DisplayPlaceholder</text>
</div>

@code {

#region IsVisible
	private string Visibility = "collapse",
				   Height     = "0";

	private bool _IsVisible;

	[Parameter]
	public bool IsVisible
	{
		get => _IsVisible;
		set
		{
			if( value != _IsVisible )
			{
				_IsVisible = value;

				if( value )
				{
					Visibility = "visible";
					Height     = "4rem";
				}
				else
				{
					Visibility = "collapse";
					Height     = "0";
				}

				StateHasChanged();
			}
		}
	}
#endregion

#region Placeholder
	private const string DEFAULT_PLACEHOLDER = "Scan Barcode";

	private static string SavePlaceholder    = DEFAULT_PLACEHOLDER,
						  DisplayPlaceholder = DEFAULT_PLACEHOLDER;

	[Parameter]
	public string Placeholder
	{
		get => SavePlaceholder;
		set
		{
			if( value != SavePlaceholder )
			{
				SavePlaceholder    = value;
				DisplayPlaceholder = value;
				StateHasChanged();
			}
		}
	}
#endregion

#region Scanning
	private bool _IsScanning;

	[Parameter]
	public bool IsScanning
	{
		get => _IsScanning;
		set
		{
			if( value != _IsScanning )
			{
				_IsScanning = value;

				if( !value )
				{
					lock( Fifo )
					{
						Fifo.Clear();
						ClearBarcodeText();
					}
				}
			}
		}
	}
#endregion

#region OnBarcode
	private Action<string>? _OnBarcode;

	[Parameter]
	public Action<string>? OnBarcode
	{
		get => _OnBarcode;
		set
		{
			if( _OnBarcode != value )
			{
				_OnBarcode = value;

				Gps.BarcodeScanner.OnBarcode.Add( ( _, barcode ) =>
													  {
														  _OnBarcode?.Invoke( barcode );
													  } );
			}
		}
	}
#endregion

	private static readonly HashSet<char> AcceptableChars = new( "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+- \r\n\t" );
	private static          string        BarcodeText     = "";
	private static          string?       AssemblyName;

	private static readonly Timer ScanTimer = new( 250 )
											  {
												  AutoReset = false
											  };


	[Inject]
	private IJSRuntime? Js { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if( !Gps.BarcodeScanner.Initialised )
		{
			Gps.BarcodeScanner.Initialised = true;
			Gps.BarcodeScanner.Instance    = this;

			ScanTimer.Elapsed += OnScanTimerOnElapsed;
		}
	}

#region Fifo
	private static readonly LinkedList<string> Fifo = [];
	private static          bool               InFifoUpdate;

	private static void AddToFifo( string barcode )
	{
		lock( Fifo )
		{
			Fifo.AddLast( barcode );

			if( !InFifoUpdate )
			{
				InFifoUpdate = true;

				Tasks.RunVoid( async () =>
							   {
								   try
								   {
									   Monitor.Enter( Fifo );

									   while( Fifo.Count > 0 )
									   {
										   var Barcode = Fifo.First!.Value;
										   Fifo.RemoveFirst();
										   Monitor.Exit( Fifo );

										   await Gps.BarcodeScanner.Instance.InvokeAsync( () =>
																							  {
																								  Gps.BarcodeScanner.OnBarcode.Value = Barcode;
																							  } );
										   Monitor.Enter( Fifo );
									   }
								   }
								   catch
								   {
								   }
								   finally
								   {
									   if( Monitor.IsEntered( Fifo ) )
										   Monitor.Exit( Fifo );

									   InFifoUpdate = false;
								   }
							   } );
			}
		}
	}
#endregion

	private static void ClearBarcodeText()
	{
		BarcodeText        = "";
		DisplayPlaceholder = SavePlaceholder;
	}

	private void OnScanTimerOnElapsed( object? o, ElapsedEventArgs? elapsedEventArgs )
	{
		ScanTimer.Stop();
		AddToFifo( BarcodeText );
		ClearBarcodeText();
		StateHasChanged();
	}


	protected override void OnAfterRender( bool firstRender )
	{
		if( firstRender )
		{
			var AName = AssemblyName ??= Assembly.GetExecutingAssembly().GetName().Name;
			Js?.InvokeVoidAsync( "initializeKeyCapture", AName, nameof( UpdatePreview ) );
		}
	}

	[JSInvokable]
	public static void UpdatePreview( string? input )
	{
		if( Gps.BarcodeScanner.Instance is { IsScanning: true } Scanner )
		{
			if( input is { Length: 1 } )
			{
				var Char = input[ 0 ];

				if( AcceptableChars.Contains( Char ) )
				{
					DisplayPlaceholder =  "";
					BarcodeText        += Char;
					ScanTimer.Stop();

					if( Char is '\r' or '\n' or '\t' )
						Scanner.OnScanTimerOnElapsed( null, null );
					else
						ScanTimer.Start();
				}
				Scanner.StateHasChanged();
			}
		}
	}

}

@* Include JavaScript directly in the Razor component *@
<script >
		window.initializeKeyCapture = ( assemblyName, onKey ) =>
									  {
										  document.addEventListener( 'keydown', function( event)
										  {
											  DotNet.invokeMethodAsync( assemblyName, onKey,  event.key );
										  });
									  };
</script >
