﻿@using System.Reflection
@using System.Timers
@using Components.Menu
@using Components.WaitingForShipments
@using Extensions
@using Microsoft.AspNetCore.WebUtilities
@using Storage
@using TripManagement.Listeners
@using Utils
@using Globals = Globals
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
	<main>
		<table class="headerTable">
			<thead>
			<tr>
				<th>
					@if( IsClient )
					{
						<text>IDS Core Client</text>
					}
					else
					{
						<text>IDS Mobile</text>
					}
				</th>
				<th>
					<text>@Globals.Login.CarrierId</text>
				</th>
				<th>
					<text>@Globals.Login.UserName</text>
				</th>
				<th>
					@if( Online )
					{
						<image src="/images/online32x32.png"/>
					}
					else
					{
						<image src="/images/offline32x32.png"/>
					}
				</th>
				<th>
					@if( MenuVisible )
					{
						<button @onclick="ToggleMenu">
							<image src="/images/menu32x32.png"/>
						</button>

						<PopupMenu IsVisible="@PopupMenuVisible"/>
					}
				</th>
			</tr>
			<tr id="mainDebugRow">
				<th colspan="1">
					@if( Globals.Debug.IsTesting )
					{
						<text>@( $"VP:{ViewportSize.Width} x {ViewportSize.Height} " )</text>
					}
					<text>@( $"Vsn: {TripManagement.Globals.CurrentVersion.VERSION}" )</text>
				</th>
				<th colspan="4">
					<text>@Title</text>
				</th>
			</tr>
			</thead>
		</table>
		<article class="content">
			<WaitingForShipments @ref=" Waiting"></WaitingForShipments>
			@Body
		</article>
	</main>
</div>

@* ReSharper disable once NotAccessedField.Local *@

@code {

	private        bool    PopupMenuVisible;
	private static string? AssemblyName;

	private DotNetObjectReference<MainLayout>? DotNetRef;

	private Dimensions ViewportSize = new();

	[Inject]
	private IJSRuntime? JsRuntime { get; set; }

	[Parameter]
	public bool Online { get; set; } = true;

	[Parameter]
	public string Title
	{
		get;
		set
		{
			if( value != field )
			{
				field = value;
				StateHasChanged();
			}
		}
	} = "";

	[Parameter]
	public bool MenuVisible { get; set; }

	public bool IsClient { get; private set; }

	protected override async void OnInitialized()
	{
		try
		{
			var Uri = Navigation.ToAbsoluteUri( Navigation.Uri );

			IsClient = QueryHelpers.ParseQuery( Uri.Query ).ContainsKey( "Client" );

			Globals.MainLayout.Instance            = this;
			TripManagement.Globals.CURRENT_VERSION = TripManagement.Globals.CurrentVersion.PROGRAM_VERSION;

			await base.OnInitializedAsync();

			var Js = JsRuntime!;

			// Must be before GetViewportSizeAsync
			Storage.Initialise( Js );
			Globals.Gps.Initialise( Js );

			ViewportSize = await Js.GetViewportSizeAsync() ?? new Dimensions();

			Ping.Initialise();

			TripManagement.Globals.OnPing.Add( ( _, onLine ) =>
											   {
												   if( onLine != Online )
												   {
													   Online = onLine;
													   StateHasChanged();
												   }
											   } );

			TripManagement.Globals.OnWaitingForTrips = OnWaitingForShipments;
		}
		catch( Exception E )
		{
			Console.WriteLine( E );
		}
		finally
		{
			StateHasChanged();
		}
	}

	protected override async void OnAfterRender( bool firstRender )
	{
		try
		{
			if( firstRender )
			{
				var J   = JsRuntime!;
				var Ref = DotNetRef = DotNetObjectReference.Create( this );

				var AName = AssemblyName ??= Assembly.GetExecutingAssembly().GetName().Name;
				await J.InvokeVoidAsync( "initializeBrowserRefresh", Ref, AName, nameof( OnBrowserRefresh ) );

				// Check if the page was refreshed
				var IsRefreshStr = await J.InvokeAsync<string>( "sessionStorage.getItem", "isRefresh" );
				var IsRefresh    = IsRefreshStr.IsNotNullOrEmpty();

				// Force relog-in if the page was refreshed
				if( IsRefresh )
				{
					// Clear the flag
					await J.InvokeVoidAsync( "sessionStorage.removeItem", "isRefresh" );

					// Navigate to the initial page
					var Nav = Navigation;

					if( Nav.Uri != Nav.BaseUri )
						Nav.NavigateTo( "/", true );
				}
			}
		}
		catch
		{
		}
	}

#region Waiting For Shipments
	private Timer? WaitingTimer;

	private WaitingForShipments? Waiting;


	private void OnWaitingForShipments( bool visible )
	{
		if( visible )
		{
			if( WaitingTimer is null )
			{
				WaitingTimer = new Timer( 1_000 ) { AutoReset = false };

				WaitingTimer.Elapsed += ( _, _ ) =>
										{
											Waiting!.IsVisible = true;
										};

				Waiting!.IsVisible = true;
			}
			else
			{
				WaitingTimer.Stop();
				WaitingTimer.Start();
			}
		}
		else
		{
			WaitingTimer?.Stop();
			Waiting!.IsVisible = false;
		}
	}
#endregion


	private void ToggleMenu()
	{
		PopupMenuVisible = !PopupMenuVisible;
	}

#region Browser Actions
	[JSInvokable( "App" )]
	public void OnBrowserRefresh()
	{
	}
#endregion

}
