﻿body, html {
    background: black;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    width: 100%;
}

.center {
    display: block;
    margin: auto;
}

#Boot_Loading {
    color: white;
    font-size: 3em;
    margin-top: 1em;
    text-align: center;
}

#Logo {
    width: 50em;
}