/* CSS Document */

:root {
    --TitleBar: #2D527C;
    --TitleText: #FFFFFF;
    --Disabled: #CCD1D1;
    --DisabledText: #808B96;
}

html {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Title {
    background-color: var(--TitleBar);
    color: var(--TitleText);
}

button {
    background-color: var(--TitleBar);
    color: var(--TitleText);
}

*[data-disabled], *[disabled] {
    background-color: var(--Disabled);
    color: var(--DisabledText);
}