﻿.busy div { flex-grow: 1; }

.validating {
    text-align: center;
    font-size: 8rem;
    font-weight: bolder;
    margin-top: -13rem;
}

#route tr.pickup:nth-child(odd) { background-color: var(--PickupBackgroundOdd); }

#route tr.delivery:nth-child(odd) { background-color: var(--DeliveryBackgroundOdd); }

#route tr.both:nth-child(odd) { background-color: var(--PickupAndDeliveryBackgroundOdd); }

#route tr.pickup:nth-child(even) { background-color: var(--PickupBackgroundEven); }

#route tr.delivery:nth-child(even) { background-color: var(--DeliveryBackgroundEven); }

#route tr.both:nth-child(even) { background-color: var(--PickupAndDeliveryBackgroundEven); }

#route td { vertical-align: top; }

#route td:first-child { text-align: center; }

#route td:nth-child(odd) { backdrop-filter: brightness(.97) }

#route td:nth-child(n + 5) {
    text-align: right;
    padding-right: .5rem;
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#errors { margin-left: 2rem; }

#loadCsv {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

#errorList {
    overflow: auto;
    max-height: 50rem;
}

#invalidAddresses table {
    width: max-content;
    background-color: var(--DefaultBackground);
}

#invalidAddresses thead tr {
    border-bottom-style: solid;
    border-bottom-color: var(--TableBorder);
    border-bottom-width: 2px;
}

#invalidAddresses tr:nth-child(even) { background-color: var(--TableOddBackground); }

#invalidAddresses th { text-align: center; }

#invalidAddresses td, th {
    border-right-style: solid;
    border-right-color: var(--TableBorder);
    border-right-width: 1px;
    padding: 0 .5rem;
}

#overflow {
    max-height: calc(100vh - 18rem);
    overflow: auto;
}

#route {
    overflow: auto;
    height: calc(100vh - 15rem);
    min-width: max-content;
}
