﻿@page "/Routing/Manifest"
@using System.Diagnostics
@using Client.Views
@using Client.Views.Routing
@using Components.Ribbon
@using Components.AzureMaps

<PageTitle>Upload Manifest Csv</PageTitle>

<div @attributes="BusyAttributes" class="busy">
	<div></div>
	@switch( BustState )
	{
	case ManifestViewModel.BUSY_STATE.VALIDATING:
		<span class="validating">Validating Addresses</span>
		break;
	case ManifestViewModel.BUSY_STATE.CALCULATING:
		<span class="validating">Calculating Route</span>
		break;
	}
	<div></div>
</div>

<Ribbon>
	<RibbonSection Footer="Import">
		<RibbonItem>
			<!--
			<div @attributes="UploadAttributes" class="flex flex-row">
				<div >
					<span class="oi oi-data-transfer-upload ok" aria-hidden="true"></span>
				</div>
				Upload
			</div> -->
		</RibbonItem>
	</RibbonSection>
</Ribbon>

<div class="flex flex-row h-100">
	<article id="container" class="form-style-1-Content flex flex-column">
		<div class="form-style-1">
			<header class="toolbar">
				<h2>Select Manifest</h2>
				<div class="toolbarItem">
					<span @attributes="ToolbarUploadAttributes" class="oi oi-check ok" aria-hidden="true"></span>
				</div>
				<div class="toolbarItem">
					<span @attributes="ToolbarErrorAttributes" class="oi oi-x error" aria-hidden="true"></span>
				</div>
			</header>
			<section id="loadCsv">
				<InputFile OnChange="LoadFiles " accept=".csv"/>
			</section>
		</div>

		@if( Model.HasErrors )
		{
			<div id="errors" class="form-style-1">
				<header >
					<h2 class="error">Errors: @Model.ErrorList.Count.ToString()</h2>
				</header>
				<section id="errorList">
					@foreach( var Error in Model.ErrorList )
					{
						<label>@Error</label>
					}
				</section>
			</div>
		}

		@if( Model.HasInvalidAddresses )
		{
			<br/>
			<div id="invalidAddresses" class="form-style-1">
				<header >
					<h2 class="error">Unknown Addresses: @Model.InvalidAddresses.Count.ToString()</h2>
				</header>
				<div id="overflow">
					<table>
						<thead>
						<tr>
							<th>Company Name</th>
							<th>Suite</th>
							<th>Street</th>
							<th>City</th>
							<th>State/Prov</th>
							<th>Country</th>
							<th>Postal Code</th>
						</tr>
						</thead>
						<tbody>
						@foreach( var Addr in Model.InvalidAddresses )
						{
							<tr>
								<td>@Addr.CompanyName</td>
								<td>@Addr.Suite</td>
								<td>@Addr.AddressLine1</td>
								<td>@Addr.City</td>
								<td>@Addr.Region</td>
								<td>@Addr.Country</td>
								<td>@Addr.PostalCode</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		}

		@if( Model.DisplayAddresses.Count > 0 )
		{
			<div id="route" class="table-sticky-container">
				<table class="table-sticky">
					<thead>
					<tr>
						<th scope="col">Pin</th>
						<th scope="col">Pu/Del</th>
						<th scope="col">Company Name</th>
						<th scope="col">Address</th>
						<th scope="col">Distance</th>
						<th scope="col">Duration</th>
					</tr>
					</thead>
					@foreach( var Addr in Model.DisplayAddresses )
					{
						<tr class="@PinType( Addr.PinType )">
							<td>@Addr.PinText</td>
							<td>@Addr.PinType.ToString()</td>
							<td>@Addr.CompanyName</td>
							<td><pre>@Addr.DisplayAddress</pre></td>
							<td>@Addr.DisplayDistance</td>
							<td>@Addr.DisplayDuration</td>
						</tr>
					}
				</table>
			</div>
		}
	</article>
	<AzureMap MapId="ManifestMap" Header="xxxxxxx" HeaderClass="map_header" Route="@Model.Route"></AzureMap>
</div>

@code {

	static string PinType( RouteEntry.PIN_TYPE pt )
	{
		return pt switch
			   {
			   RouteEntry.PIN_TYPE.DELIVERY => "delivery",
			   RouteEntry.PIN_TYPE.PICKUP   => "pickup",
			   RouteEntry.PIN_TYPE.BOTH     => "both",
			   _                            => ""
			   };
	}

		private const long MAX_FILE_SIZE = 1024 * 1024 * 15;
		private const int MAX_ALLOWED_FILES = 1;

	ManifestViewModel Model = null!;

	private readonly Dictionary<string, object> UploadAttributes = new(),
	ToolbarUploadAttributes = new(),
	ToolbarErrorAttributes = new(),
	BusyAttributes = new();

	private void HideToolbarItems()
	{
		UploadAttributes.Disable( true );
		ToolbarUploadAttributes.Visible( false );
		ToolbarErrorAttributes.Visible( false );
	}

	private ManifestViewModel.BUSY_STATE BustState = ManifestViewModel.BUSY_STATE.NOT_BUSY;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new ManifestViewModel( () =>
									   {
										   InvokeAsync( StateHasChanged );
									   } )
				{
					ManifestUploaded = ok =>
									   {
										   ToolbarUploadAttributes.Visible( ok );
										   ToolbarErrorAttributes.Visible( !ok );
										   UploadAttributes.Enable( ok );
									   },
					OnBusy = busy =>
							 {
								 BustState = busy;
								 BusyAttributes.Visible( busy != ManifestViewModel.BUSY_STATE.NOT_BUSY );
							 }
				};
		HideToolbarItems();
		BusyAttributes.Visible( false );
	}

	private async Task LoadFiles( InputFileChangeEventArgs e )
	{
		HideToolbarItems();

		foreach( var File in e.GetMultipleFiles( MAX_ALLOWED_FILES ) )
		{
			try
			{
				await using var ReadStream = File.OpenReadStream( MAX_FILE_SIZE );
				var Length = (int)ReadStream.Length;
				var Buffer = new byte[ Length ];

				var ToDo = Length;
				var Pos = 0;
				while( ToDo > 0 )
				{
					var RLen = await ReadStream.ReadAsync( Buffer, Pos, ToDo );
					Pos += RLen;
					ToDo -= RLen;
				}

				Model.CsvBytes = Buffer;
			}
			catch( Exception Exception )
			{
				Debug.WriteLine( Exception );
			}
		}
	}

}
