﻿:root {
    --primary-border-color: white;
    --primary-text-color: white;
    --primary-background-color: black;
    --primary-programName-color: lightsteelblue;
    --secondary-text-color: lightgrey;
    --tertiary-text-color: yellowGreen;

    /* Debug */
    --debug-background-color: black;
    --debug-text-color: darkOrange;

    /* Pickup / Delivery */
    --primary-delivery-color: DarkOrange;
    --primary-pickup-color: DeepSkyBlue;
    --primary-scanned-color: Yellow;
    --primary-remaining-color: DarkOrange;
    --primary-unreadByDriver-color: Yellow;
    --primary-unreadByDriverText-color: Black;
    --primary-readByDriver-color: Lightsteelblue;
    --primary-readByDriverText-color: Black;
    /* Menu */
    --menu-background-color: DarkSlateGrey;
    --menu-hover-color: DarkSlateGrey;
    /* Barcode */
    --barcode-background-color: Khaki;
    --barcode-text-color: black;
    --barcode-placeholder-color: grey;
    /* Button */
    --button-disabled-color: DarkSlateGrey;
    --button-topBorder-color: dimgray;
    /* Signature Pad */
    --signature-background-color: Khaki;
    --signature-button-color: grey;
}
