﻿@namespace Components.WaitingForShipments

<style>
	.Waiting {

		background-color: var(--primary-background-color);
		color: yellow;
		font-size: 4rem;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 200;
	}
</style>

@if( IsVisible )
{
	<div class="Waiting">
		Waiting for shipments
	</div>
}

@code {

	[Parameter]
	public Action? OnClose { get; set; }

	[Parameter]
	public string? DriverCode { get; set; }

#region IsVisible
	private bool _IsVisible;

	[Parameter]
	public bool IsVisible
	{
		get => _IsVisible;
		set
		{
			if( value != IsVisible )
			{
				_IsVisible = value;
				StateHasChanged();
			}
		}
	}
#endregion


}
