﻿@using Extensions
@namespace Components.Details

<style>
	.details {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	.details div, table {
		margin-bottom: .5rem;
		width: 100%;
	}

	.details div, td {
		color: var(--secondary-text-color);
		vertical-align: top;
	}

	.details div, td:last-child { width: auto; }

	.details .id {
		color: var(--primary-text-color);
		font-size: 1.5rem;
	}

	.details .pickupBar {
		background-color: var(--primary-pickup-color);
		width: 8px;
	}

	.details .deliveryBar {
		background-color: var(--primary-delivery-color);
		width: 8px;
	}

	.details .companyName { font-size: 1.5rem; }

	.details .address { color: var(--secondary-text-color); }

	.details pre {
		font-size: 1.2rem;
		margin: 0;
	}

	.details table span {
		color: var(--tertiary-text-color);
		font-size: 1.5rem;
	}

	.details .rem7 {
		padding-top: 2rem;
		width: 7rem;
	}

	.detailsSpacer { flex-grow: 1; }

	.detailsButtonsDiv {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.detailsButtonsDiv button {
		background-color: var(--primary-background-color);
		border: none;
		color: var(--primary-text-color);
		flex-grow: 1;
		font-size: 1.5rem;
	}

	.detailsButtonsDiv button[disabled="disabled"] { color: var(--button-disabled-color); }

	.details .right-justified-input { text-align: right; }

</style>

@if( Trip is not null )
{
	<div class="details" style="display: @DisplayAsString">
		@for( var State = STATE.TRIP; State < STATE.DONE; State++ )
		{
			switch( State )
			{
			case STATE.TRIP:
				<table>
					<tr>
						<td>Account ID: <span class="id"> @Trip.AccountId</span></td>
						<td rowspan="2"></td>
					</tr>
					<tr>
						<td>Shipment ID: <span class="id">@Trip.TripId</span></td>
					</tr>
				</table>
				continue;

			case STATE.DETAILS:
				<table class="text-align-center">
					<tr>
						<td style="background-color: @Trip.ServiceLevelBackgroundAsString; color: @Trip.ServiceLevelForegroundAsString">
							@Trip.ServiceLevel
						</td>
						<td>@Trip.PackageType</td>
						<td>@Trip.DueTimeAsString</td>
					</tr>
					<tr>
						@if( EditReference )
						{
							<td class="rem7 text-align-left">
								@ReferenceText:
								<InputText @bind-value="@EditReferenceString"
										   @onkeypress="OnKeyPress"/>
							</td>
						}
						else
						{
							<td class="rem7 text-align-left">@ReferenceText: <span>@EditReferenceString</span></td>
						}

						@if( EditPieces )
						{
							<td class="rem7">
								@PiecesText:
								<InputNumber class="right-justified-input"
											 @bind-value="@EditPiecesValue"
											 @bind-value:event="oninput"
											 step="1" min="1"
											 @onchange="OnChange"
											 TValue="int"/>
							</td>
						}
						else
						{
							<td class="rem7">@PiecesText: <span>@EditPiecesString</span></td>
						}

						@if( EditWeight )
						{
							<td class="rem7">
								@WeightText:
								<InputNumber class="right-justified-input"
											 @bind-value="@EditWeightValue"
											 @bind-value:event="oninput"
											 step="1" min="1"
											 @onchange="OnKeyPress"
											 TValue="int"/>
							</td>
						}
						else
						{
							<td class="rem7">@WeightText: <span>@EditWeightString</span></td>
						}
					</tr>
					@if( DisplayPopPod )
					{
						<tr>
							<td class="text-align-left">
								@if( Trip is { IsPickup: true } )
								{
									<label>Proof of Pickup:</label>
								}
								else
								{
									<label>Proof of Delivery:</label>
								}
								@if( EditPopPod )
								{
									<input type="text"
										   @ref=" InputReference"
										   @bind-value="@PopPod"
										   @bind-value:event="oninput"/>
								}
								else
								{
									<label>@PopPod</label>
								}
							</td>
						</tr>
					}
				</table>
				continue;

			case STATE.PICKUP:
				BarClass           = "pickupBar";
				DisplayCompanyName = Trip.PickupCompanyName;
				DisplayAddress     = $"{Trip.PickupAddress} {Trip.PickupCity}";
				DisplayNotes       = Trip.PickupNotes;
				break;

			case STATE.DELIVERY:
				BarClass           = "deliveryBar";
				DisplayCompanyName = Trip.DeliveryCompanyName;
				DisplayAddress     = $"{Trip.DeliveryAddress} {Trip.DeliveryCity}";
				DisplayNotes       = Trip.DeliveryNotes;
				break;
			}

			<table>
				<tr>
					<td rowspan="3" class="@BarClass"></td>
					<td class="companyName">@DisplayCompanyName</td>
				</tr>
				<tr>
					<td class="address"><pre>@DisplayAddress</pre></td>
				</tr>
				<tr>
					<td><pre>@DisplayNotes</pre></td>
				</tr>
			</table>
		}
	</div>

	@if( OnBack is not null )
	{
		<div class="detailsSpacer"></div>
		<div class="detailsButtonsDiv">
			<button @onclick="OnBackButtonClick">Back</button>
		</div>
	}
}

@code {

	[Inject]
	private IJSRuntime? JsRuntime { get; set; }

	private ElementReference? InputReference;

	private string DisplayAsString    = VisualStates.DisplayFlex( false ),
				   BarClass           = "",
				   DisplayCompanyName = "",
				   DisplayAddress     = "",
				   DisplayNotes       = "",

				   //
				   EditReferenceString = "",
				   EditPiecesString    = "",
				   EditWeightString    = "";

	int EditPiecesValue,
		EditWeightValue;

	private enum STATE
	{
		TRIP,
		PICKUP,
		DELIVERY,
		DETAILS,
		DONE
	}

	public record EditData( string Reference, decimal Pieces, decimal Weight, string PopPod );

	[Parameter]
	public TripDisplayEntry? Trip { get; set; }

	[Parameter]
	public bool IsVisible
	{
		get;
		set
		{
			if( VisualStates.DisplayFlex( value, ref field, ref DisplayAsString ) )
				StateHasChanged();
		}
	}

	[Parameter]
	public bool EditPieces { get; set; }

	[Parameter]
	public decimal Pieces { get; set; }

	[Parameter]
	public string PiecesText { get; set; } = "Pieces";


	[Parameter]
	public decimal Weight { get; set; }

	[Parameter]
	public string WeightText { get; set; } = "Weight";

	[Parameter]
	public bool EditWeight { get; set; }

	[Parameter]
	public bool EditReference { get; set; }

	[Parameter]
	public string Reference { get; set; } = "";

	[Parameter]
	public string ReferenceText { get; set; } = "Reference";

	[Parameter]
	public Action<EditData>? OnBack { get; set; }

	[Parameter]
	public Action<EditData>? OnEdit { get; set; }

	[Parameter]
	public bool DisplayPopPod { get; set; }

	[Parameter]
	public bool EditPopPod { get; set; }

	[Parameter]
	public string PopPod
	{
		get;
		set
		{
			field = value;
			OnInputChange();
		}
	} = "";

	[Parameter]
	public bool PopPodOnlyAlpha { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		if( Trip is { } T )
		{
			EditPiecesValue = (int)T.Pieces;
			EditWeightValue = (int)T.Weight;

			EditPiecesString    = Pieces.ToString( "N0" );
			EditWeightString    = Weight.ToString( "N0" );
			EditReferenceString = Reference;
		}
	}

	protected override async Task OnAfterRenderAsync( bool firstRender )
	{
		await base.OnAfterRenderAsync( firstRender );

		if( firstRender )
		{
			if( JsRuntime is { } J )
			{
				if( PopPodOnlyAlpha && InputReference is { } E )
					await J.InvokeVoidAsync( "filterAlphaAndSpaces", E );
			}
		}
	}

	private void OnEditData( Action<EditData>? action )
	{
		var Ref = EditReferenceString;
		var Pcs = EditPiecesValue;
		var Wgt = EditWeightValue;
		var Pp  = PopPod;

		action?.Invoke( new EditData( Ref, Pcs, Wgt, Pp ) );
	}

	private void OnBackButtonClick()
	{
		OnEditData( OnBack );
	}

	private void OnKeyPress()
	{
		OnEditData( OnEdit );
	}

	private void OnChange()
	{
		OnEditData( OnEdit );
	}

	private void OnInputChange()
	{
		OnEditData( OnEdit );
	}

}
