﻿@using System.Timers
@using Components.TripDetails
@using Records
@using Utils
@namespace Components.DisplayShipments
<style>
	.trip {
		vertical-align: top;
		width: 100%;
	}

	.tripPickupDelivery { width: 8px; }

	.trip table {
		border-bottom-color: var(--primary-border-color);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		width: 100%;
	}

	.trip table th {
		background-color: transparent;
		font-weight: bolder;
	}

	.trip table th {
		background-color: transparent;
		font-weight: bolder;
	}

	.trip table thead th:nth-child(1),
	.trip table thead th:nth-child(2) { width: 15%; }

	.trip .scanned, .remaining {
		font-size: 1.5rem;
		vertical-align: bottom
	}

	.trip .scanned span { color: var(--primary-scanned-color) }

	.trip .remaining span { color: var(--primary-remaining-color) }

	.trip .unread {
		background-color: var(--primary-unreadByDriver-color);
		color: var(--primary-unreadByDriverText-color);
	}

	.trip .read {
		background-color: var(--primary-readByDriver-color);
		color: var(--primary-readByDriverText-color);
	}
</style>

@if( !DetailsVisible )
{
	@if( IsVisible && Trips is not null )
	{
		@foreach( var (TripId, Entry) in Trips )
		{
			@if( Entry.IsVisible )
			{
				<table class="trip" @onmousedown="OnMouseDown" @onmouseup="() => { OnMouseUp( Entry ); }">
					<tr>
						@if( Entry.IsPickup )
						{
							<td class="tripPickupDelivery" style="background-color: var(--primary-pickup-color)"></td>
						}
						else
						{
							<td class="tripPickupDelivery" style="background-color: var(--primary-delivery-color)"></td>
						}
						<td>
							<table>
								<thead>
								@{
									var Class = !Entry.ReadByDriver ? "unread" : "read";
								}

								<tr class="@Class">
									<th class="text-align-center" style="background-color: @Entry.ServiceLevelBackgroundAsString; color: @Entry.ServiceLevelForegroundAsString;">
										@Entry.ServiceLevel
									</th>
									<th>
										@Entry.PackageType
									</th>
									<th class="text-align-right">
										@Entry.PiecesAsString
									</th>
									<th class="text-align-right">
										@Entry.WeightAsString
									</th>
									<th class="text-align-center">
										@Entry.PickupDeliveryDateTimeAsString
									</th>
								</tr>
								</thead>
								<tr>
									<td colspan="4">
										@Entry.DisplayCompanyName
									</td>
									<td class="text-align-right">
										@Entry.DisplayLocation
									</td>
								</tr>
								<tr>
									<td colspan="5">
										@Entry.DisplayAddress
									</td>
								</tr>
								@if( Entry.DisplayNotes.IsNotNullOrWhiteSpace() )
								{
									<tr>
										<td colspan="5">
											@Entry.DisplayNotes
										</td>
									</tr>
								}
								<tr>
									<td colspan="3">
										@TripId
									</td>

									@if( ShowScanned )
									{
										<td class="scanned">
											@( Entry.IsPickup ? PickupScannedText : DeliveryScannedText ): <span>@Entry.ScannedAsString</span>
										</td>

										<td class="remaining">
											Remaining: <span>@Entry.RemainingAsString</span>
										</td>
									}
								</tr>
							</table>
						</td>
					</tr>
				</table>
			}
		}
	}
}
else
{

}

@code {

	private OBSERVABLE_TRIP_DICTIONARY? Trips;
	private TripDisplayEntry?           Trip;
	private bool                        DetailsVisible;

	[Parameter]
	public bool IsVisible
	{
		get;
		set
		{
			if( field != value )
			{
				field = value;
				StateHasChanged();
			}
		}
	}

	[Parameter]
	public bool ShowScanned
	{
		get;
		set
		{
			field                   = value;
			ShowDetailsOnShortClick = !value;
		}
	}

	[Parameter]
	public string PickupScannedText { get; set; } = "Picked-up";

	[Parameter]
	public string DeliveryScannedText { get; set; } = "Delivered";

	[Parameter]
	public Action<OBSERVABLE_TRIP_DICTIONARY>? OnTrips { get; set; }

	[Parameter]
	public Action<TripDisplayEntry>? OnClick { get; set; }

	[Parameter]
	public Action<TripDisplayEntry>? OnDoubleClick { get; set; }


	public bool ShowDetailsOnShortClick { get; set; } = true;


	protected override void OnInitialized()
	{
		base.OnInitialized();

		Globals.OnTripChange.Add( ( _, _ ) =>
								  {
									  StateHasChanged();
								  } );

		Globals.GetTrips( App.Globals.Login.UserName, trips =>
													  {
														  Trips = trips;

														  if( OnTrips is not null )
														  {
															  InvokeAsync( () =>
																		   {
																			   OnTrips.Invoke( trips );
																		   } );
														  }

														  StateHasChanged();
													  } );
	}

#region Click
	private Timer? ClickTimer;
	private byte   TapCount;

	private const int DOUBLE_CLICK_IN_MILLISECONDS = 400;

	private void OnMouseDown()
	{
		if( ClickTimer is null )
		{
			ClickTimer = new Timer( DOUBLE_CLICK_IN_MILLISECONDS )
						 {
							 AutoReset = false
						 };

			ClickTimer.Elapsed += ( _, _ ) =>
								  {
									  var Count = TapCount;
									  TapCount = 0;

									  if( Count == 1 ) // Single click
									  {
										  InvokeAsync( async () =>
													   {
														   if( Trip is not null )
														   {
															   OnClick?.Invoke( Trip );

															   if( ShowDetailsOnShortClick )
															   {
																   DetailsVisible = true;
																   StateHasChanged();

																   if( !Trip.ReadByDriver )
																   {
																	   await Update.UpdateTrip( new TripManagement.Packets.ReadByDriver( new ReadByDriver( Globals.CURRENT_VERSION, Trip ) ) );
																	   Trip.ReadByDriver = true;
																   }
															   }
														   }
													   } );
									  }
								  };
		}

		if( TapCount == 0 )
			ClickTimer.Start();
	}

	private void OnMouseUp( TripDisplayEntry entry )
	{
		Trip = entry;

		if( ++TapCount > 1 ) // Double click
		{
			TapCount = 0;
			ClickTimer!.Stop();
			OnDoubleClick?.Invoke( entry );
		}
	}
#endregion

	private void OnBack()
	{
		DetailsVisible = false;
		StateHasChanged();
	}

}
