﻿@namespace Components.Menu

@page "/PickupDeliveries/NoLocation/PickupDeliveries" 
@using Components.Dialogs
@using Components.DisplayShipments
@using Components.PopPodSign
@using Extensions
@using Protocol.Data
@using DeviceTripUpdate = TripManagement.Packets.DeviceTripUpdate
@using Globals = App.Globals

<style>
	.mainDiv {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.mainDiv .pickupDeliveryButtonsDiv {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.mainDiv .pickupDeliveryButtonsDiv button {
		background-color: var(--primary-background-color);
		border: none;
		color: var(--primary-text-color);
		flex-grow: 1;
		font-size: 1.5rem;
	}

	.mainDiv .pickupDeliveryButtonsDiv button[disabled="disabled"] { color: var(--button-disabled-color); }

</style>

<div class="mainDiv">
	@if( !PodAndSignVisible )
	{
		<DisplayShipments IsVisible="true"
						  ShowScanned="@ShowScanned"
						  OnTrips="OnTrips"
						  OnDoubleClick="OnProcessTripClick"
						  OnClick="OnShowDetailsClick"/>

		<ConfirmDialog IsVisible="@ConfirmDialogVisible"
					   Message="Cancel Pickup / Delivery?"
					   OnClose="@ConfirmOnClose">
		</ConfirmDialog>
		<div style="flex-grow: 1">
		</div>

		@if( ButtonsVisible )
		{
			<div class="pickupDeliveryButtonsDiv" style="visibility: @ButtonsVisibleAsString">
				<button @attributes="@AcceptAttributes" @onclick="@OnAcceptClick">Accept</button>
				<button @onclick="@OnCancelClick">Cancel</button>
			</div>
		}
	}
	else
	{
		<PopPodSign IsVisible="true"
					Trip="@Trip"
					Pieces="@TotalPieces"
					Weight="@TotalWeight"
					PopPod="@PopPod"
					Reference="@Reference"
					OnCancel="OnPodSignCancel"
					OnAccept="OnPodAndSignAccept"/>
	}
</div>

@code {

	private OBSERVABLE_TRIP_DICTIONARY? Trips;
	private TripDisplayEntry            Trip = null!;

	private readonly ATTRIBUTES AcceptAttributes = VisualStates.Disabled( true );

	private string ButtonsVisibleAsString = VisualStates.Visible( false );

	private bool ShowScanned,
				 ConfirmDialogVisible,
				 PodAndSignVisible;

	public  string PopPod    = "";
	private string Reference = "";

	private decimal TotalPieces, TotalWeight;


	private bool ButtonsVisible
	{
		get;
		set
		{
			field = value;

			if( VisualStates.Visible( value, ref field, ref ButtonsVisibleAsString ) )
				StateHasChanged();
		}
	}

	private bool AcceptDisabled
	{
		set
		{
			if( field != value )
			{
				field = value;
				VisualStates.Disabled( AcceptAttributes, value );
				StateHasChanged();
			}
		}
	}

	protected override void OnInitialized()
	{
		ButtonsVisible           = false;
		Globals.MainLayout.Title = "Pickup / Deliveries";
	}

	private void OnTrips( OBSERVABLE_TRIP_DICTIONARY trips )
	{
		Trips = trips;
		Trip  = trips.First().Value;
	}

	private void OnShowDetailsClick( TripDisplayEntry obj )
	{
		if( !ShowScanned )
			ButtonsVisible = false;
	}

	private void OnProcessTripClick( TripDisplayEntry obj )
	{
		if( Trips is not null )
		{
			if( ShowScanned )
			{
				obj.Scanned += 1;

				if( obj.Remaining == 0 )
					obj.IsVisible = false;

				AcceptDisabled = Trips.Any( pair => pair.Value.IsVisible );
			}
			else
			{
				foreach( var (_, Entry) in Trips )
				{
					if( !Entry.IsSameCompany( obj ) )
					{
						Entry.IsVisible    = false;
						Entry.BeingScanned = false;
					}
					else
					{
						Entry.ResetScanned();
						Entry.BeingScanned = true;
					}
				}
				ShowScanned    = true;
				ButtonsVisible = true;
				AcceptDisabled = true;
			}
			StateHasChanged();
		}
	}

	private void OnCancelClick()
	{
		ConfirmDialogVisible = true;
		StateHasChanged();
	}

	private void ConfirmOnClose( bool ok )
	{
		if( ok )
		{
			PodAndSignVisible    = false;
			ConfirmDialogVisible = false;
			ShowScanned          = false;
			AcceptDisabled       = true;
			ButtonsVisible       = false;

			if( Trips is not null )
			{
				foreach( var (_, Entry) in Trips )
				{
					Entry.IsVisible = true;
					Entry.ResetScanned();
				}
			}
			StateHasChanged();
		}
	}

	private void OnAcceptClick()
	{
		decimal Pieces = 0,
				Weight = 0;

		var Ref = "";

		if( Trips is { } T )
		{
			foreach( var (_, Entry) in T )
			{
				if( Entry.BeingScanned )
				{
					Pieces += Entry.Pieces;
					Weight += Entry.Weight;

					var Er = Entry.Reference;

					if( !Ref.Contains( Er, StringComparison.OrdinalIgnoreCase ) )
						Ref = $"{Ref};{Er}";
				}
			}
		}

		Reference = Ref;

		TotalPieces = Pieces;
		TotalWeight = Weight;

		PodAndSignVisible = true;
		StateHasChanged();
	}

	private void OnPodSignCancel()
	{
		ConfirmOnClose( true );
	}

	private async void OnPodAndSignAccept()
	{
		try
		{
			if( Trips is { } Trps )
			{
				var UpdateTrips = ( from T in Trps
									where T.Value.BeingScanned
									select T.Value ).ToList();

				// ReSharper disable once InconsistentNaming
				var PP  = PopPod.Trim();
				var Ref = Reference.Trim();

				var Pieces = TotalPieces;

				var Location = await Globals.Gps.CurrentGpsPoint();
				var Now      = DateTimeOffset.Now;

				foreach( var T in UpdateTrips )
				{
					var Status = T.Status < STATUS.PICKED_UP ? STATUS.PICKED_UP : STATUS.VERIFIED;

					var Du = new Records.DeviceTripUpdate
							 {
								 Program    = TripManagement.Globals.CURRENT_VERSION,
								 TripId     = T.TripId,
								 UpdateTime = Now,

								 Status = Status,
								 Pieces = Math.Min( T.Pieces, Pieces ),
								 Weight = T.Weight,

								 Reference = Ref,
								 PopPod    = PP,

								 UpdateLatitude  = Location.Latitude,
								 UpdateLongitude = Location.Longitude,

								 ArriveTime = Now
							 };

					TripManagement.Globals.UpdateTrip( Du );

					await Update.UpdateTrip( new DeviceTripUpdate( Du ) );
				}
			}
			OnPodSignCancel();
		}
	#if DEBUG
		catch( Exception Ex )
		{
			Console.WriteLine( Ex );
		}
	#else
        catch
        {
        }
	#endif
	}

}
