﻿@using System.Drawing
@using System.Text
@using Extensions
@namespace Components.SignaturePad
@inject IJSRuntime JsRuntime;

<style>
	.signature-pad {
		border: 1px solid black;
		display: flex;
		flex-direction: column;
		height: calc(100% - 3rem);
		width: 100%;
	}

	.signature-pad canvas {
		flex-grow: 1;
		width: 100%;
	}

	.signature-pad .buttons {
		border-top: 2px solid black;
		bottom: 0;
		display: flex;
		flex-direction: row;
		position: absolute;
		width: 100%;
		z-index: 10;
	}

	.signature-pad button {
		background-color: transparent;
		border: none;
		color: var(--signature-button-color);
		flex-grow: 1;
		font-size: 3rem;
	}

</style>

<div id="signature_pad-container"
	 class="signature-pad"
	 style="display: @VisibleDisplayString">
	<canvas @ref=" ElementReference"
			style="background-color: @BackgroundColorString"
			@onmousedown="OnMouseDown"
			@onmouseup="OnMouseUp"
			@onmousemove="OnMoseMove">
		Canvas Not Supported
	</canvas>

	<div class="buttons"
		 style="background-color: @BackgroundColorString; border-top-color: @ButtonColorString">
		<button style="color: @ButtonColorString" @onclick="Clear">Clear</button>
		<button style="color: @ButtonColorString" @onclick="OnCancelClick">Cancel</button>
		<button @attributes="@AcceptAttributes" style="color: @AcceptButtonColorString" @onclick="OnOkClick">Ok</button>
	</div>
</div>

@code
{
	private readonly ATTRIBUTES AcceptAttributes = VisualStates.Disabled( true );

	private const int MARGIN     = 5,
					  QUALITY    = 500,
					  MIN_POINTS = 10;

	private enum MOUSE_MOVE
	{
		MOVE_TO,
		LINE_TO
	}

	public class SignatureResult
	{
		public int Height,
				   Width;

		public string Points = "";
	}

	private ElementReference ElementReference;
	private CanvasReference  CanvasReference = null!;

#region IsVisible
	private bool   _IsVisible, CanvasUpdateNeeded;
	private string VisibleDisplayString = VisualStates.DisplayFlex( false );

	[Parameter]
	public bool IsVisible
	{
		get => _IsVisible;
		set
		{
			if( value != _IsVisible )
			{
				if( VisualStates.DisplayFlex( value, ref _IsVisible, ref VisibleDisplayString ) )
					StateHasChanged();

				if( value )
					CanvasUpdateNeeded = true;
			}
		}
	}
#endregion

	private string AcceptButtonColorString = Color.Silver.AsString();
	private string BackgroundColorString   = Color.LemonChiffon.AsString();
	private Color  _BackgroundColor        = Color.LemonChiffon;

	[Parameter]
	public Color BackgroundColor
	{
		get => _BackgroundColor;
		set
		{
			_BackgroundColor      = value;
			BackgroundColorString = value.AsString();
			StateHasChanged();
		}
	}

	private string ButtonColorString = Color.Black.AsString();
	private Color  _ButtonColor      = Color.Black;

	[Parameter]
	public Color ButtonColor
	{
		get => _ButtonColor;
		set
		{
			_ButtonColor      = value;
			ButtonColorString = value.AsString();
			StateHasChanged();
		}
	}

#region Button Disabled
	private string ButtonDisabledColorString = Color.Silver.AsString();
	private Color  _ButtonDisabledColor      = Color.Silver;

	[Parameter]
	public Color ButtonDisabledColor
	{
		get => _ButtonDisabledColor;
		set
		{
			_ButtonDisabledColor      = value;
			ButtonDisabledColorString = value.AsString();
			StateHasChanged();
		}
	}
#endregion

	[Parameter]
	public Color PenColor { get; set; } = Color.Black;

	[Parameter]
	public int PenWidth { get; set; } = 5;

	[Parameter]
	public Action<SignatureResult>? OnOk { get; set; }

	[Parameter]
	public Action? OnCancel { get; set; }

	[Parameter]
	public int MinimumPoints { get; set; } = MIN_POINTS;

	private bool IsMouseDown;
	MOUSE_MOVE   LastMouseMove;
	private int  LastX, LastY;

#region AcceptButtonDisabled
	private bool _AcceptButtonDisabled = true;

	private bool AcceptButtonDisabled
	{
		get => _AcceptButtonDisabled;
		set
		{
			if( _AcceptButtonDisabled != value )
			{
				_AcceptButtonDisabled = value;
				VisualStates.Disabled( AcceptAttributes, value );
				AcceptButtonColorString = value ? ButtonDisabledColorString : ButtonColorString;
				StateHasChanged();
			}
		}
	}
#endregion

	private readonly List<(MOUSE_MOVE MouseMove, int X, int Y)> TurtlePoints = [];

	protected override async Task OnAfterRenderAsync( bool firstRender )
	{
		if( firstRender )
		{
			await base.OnAfterRenderAsync( firstRender );
			CanvasReference = new CanvasReference( JsRuntime, ElementReference );
		}

		if( CanvasUpdateNeeded )
		{
			CanvasUpdateNeeded = false;
			await CanvasReference.UpdateCanvasSize();
			Clear();
		}
	}

	public async void Clear()
	{
		try
		{
			TurtlePoints.Clear();
			IsMouseDown   = false;
			LastMouseMove = MOUSE_MOVE.MOVE_TO;
			LastX         = int.MinValue;
			LastY         = int.MinValue;
			var Canvas = CanvasReference;
			await Canvas.SetFillColorAsync( BackgroundColor );
			await Canvas.ClearCanvasAsync();
			await Canvas.SetPenPropertiesAsync( PenWidth, PenColor );
			AcceptButtonDisabled = true;
		}
		catch( Exception Ex )
		{
			Console.WriteLine( Ex.Message );
		}
	}

	private async void AddPoint( MOUSE_MOVE mouseMove, MouseEventArgs arg )
	{
		try
		{
			var Canvas   = CanvasReference;
			var Position = await Canvas.GetMousePositionAsync( arg );

			if( Position is not null )
			{
				var X = Position.X;
				var Y = Position.Y;

				if( ( LastX != X ) || ( LastY != Y ) || ( LastMouseMove != mouseMove ) )
				{
					TurtlePoints.Add( ( mouseMove, X, Y ) );

					if( mouseMove == MOUSE_MOVE.LINE_TO )
						await Canvas.LineToPointAsync( X, Y );
					else
						await Canvas.MoveToPointAsync( X, Y );

					LastX         = X;
					LastY         = Y;
					LastMouseMove = mouseMove;
				}

				AcceptButtonDisabled = TurtlePoints.Count < MinimumPoints;
			}
		}
		catch
		{
		}
	}

	private void OnMouseDown( MouseEventArgs arg )
	{
		IsMouseDown = true;
		AddPoint( MOUSE_MOVE.MOVE_TO, arg );
	}

	private void OnMouseUp( MouseEventArgs arg )
	{
		IsMouseDown = false;
		AddPoint( MOUSE_MOVE.LINE_TO, arg );
	}

	private void OnMoseMove( MouseEventArgs arg )
	{
		if( IsMouseDown )
			AddPoint( MOUSE_MOVE.LINE_TO, arg );
	}

	private void OnCancelClick()
	{
		OnCancel?.Invoke();
	}

	public SignatureResult ConvertTurtleMoves()
	{
		int MaxX = int.MinValue,
			MaxY = int.MinValue,
			MinX = int.MaxValue,
			MinY = int.MaxValue;

		foreach( var (_, X, Y) in TurtlePoints )
		{
			MaxX = Math.Max( MaxX, X );
			MaxY = Math.Max( MaxY, Y );

			MinX = Math.Min( MinX, X );
			MinY = Math.Min( MinY, Y );
		}

		var Width  = MaxX - MinX;
		var Height = MaxY - MinY;

		var Longest = Math.Max( Width, Height );
		var Scale   = Longest >= QUALITY ? (float)QUALITY / Longest : 1;

		var Result = new SignatureResult
					 {
						 Width  = (int)( Width * Scale ) + ( 2 * MARGIN ),
						 Height = (int)( Height * Scale ) + ( 2 * MARGIN )
					 };

		var XAdj = (int)Math.Round( -MinX * Scale, MidpointRounding.AwayFromZero ) + MARGIN;
		var YAdj = (int)Math.Round( -MinY * Scale, MidpointRounding.AwayFromZero ) + MARGIN;

		var SigPoints = new StringBuilder();
		var First     = true;

		void PointString( (MOUSE_MOVE MouseMove, int X, int Y) point )
		{
			if( !First )
				SigPoints.Append( ',' );
			else
				First = false;

			var StrX = ( point.X + XAdj ).ToString();
			var StrY = ( point.Y + YAdj ).ToString();
			SigPoints.Append( point.MouseMove == MOUSE_MOVE.LINE_TO ? "1:" : "0:" ).Append( StrX ).Append( ':' ).Append( StrY );
		}

		var Last = ( MouseMove: MOUSE_MOVE.MOVE_TO, X: -1, Y: -1 );

		foreach( var Point in TurtlePoints )
		{
			var P = Point;
			P.X = (int)Math.Round( P.X * Scale, MidpointRounding.AwayFromZero );
			P.Y = (int)Math.Round( P.Y * Scale, MidpointRounding.AwayFromZero );

			if( ( Last.X != P.X ) || ( Last.Y != P.Y ) || ( Last.MouseMove != P.MouseMove ) ) // Skip Duplicates
				PointString( P );

			Last = P;
		}

		if( Last.MouseMove != MOUSE_MOVE.MOVE_TO )
		{
			Last.MouseMove = MOUSE_MOVE.MOVE_TO;
			PointString( Last );
		}

		Result.Points = SigPoints.ToString();
		return Result;
	}

	private void OnOkClick()
	{
		OnOk?.Invoke( ConvertTurtleMoves() );
	}
}
