﻿@page                "/" 
@using Client
@using Components.Dialogs
@using Storage
@using TripManagement.Listeners
@using Utils
@using Globals = Globals
@inject NavigationManager NavigationManager;

<PageTitle>Sign In</PageTitle>

<ErrorDialog IsVisible="@ErrorVisible" Message="@ErrorText" OnClose="ErrorOnClose"/>
<style>
	.signIn {
		margin-left: 1rem;
		margin-top: 1rem;
	}
</style>
<div class="signIn">
	<h3>Account</h3>
	<input tabindex="1" type="text" placeholder="Account"
		   @bind-value="@CarrierId"
		   @bind-value:event="oninput"
		   @onchange="OnChange"/>

	<h3>User name</h3>
	<input tabindex="2" type="text" placeholder="User Name"
		   @bind-value="@UserName"
		   @bind-value:event="oninput"
		   @onchange="OnChange"/>

	<h3>Password</h3>
	<input tabindex="3" type="password" placeholder="Password" autofocus
		   @bind-value="@Password"
		   @bind-value:event="oninput"
		   @onchange="OnChange">
	<br/>
	<br/>
	<button tabindex="4" disabled="@DisableSignIn" @onclick="ExecuteSignIn">SIGN IN</button>
</div>

@code {

	public class SaveSetting
	{
		public string CarrierId { get; set; } = "";
		public string UserName  { get; set; } = "";
	}

	private string CarrierId = "",
				   UserName  = "",
				   Password  = "",
				   //
				   ErrorText = "";

	private bool DisableSignIn = true,
				 ErrorVisible;


	private const string SETTINGS = "AppSignInSettings";


	private void EnableSignIn()
	{
		DisableSignIn = ( CarrierId.Length == 0 ) || ( UserName.Length == 0 ) || ( Password.Length == 0 );
		ErrorVisible  = false;
		StateHasChanged();
	}

	private async Task LoadSettings()
	{
		var Settings = await Storage.LoadAsync<SaveSetting>( SETTINGS );

		if( Settings is not null )
		{
			CarrierId = Settings.CarrierId.Trim();
			UserName  = Settings.UserName.Trim();
		}
	}

	private async Task SaveSettings()
	{
		await Storage.SaveAsync( SETTINGS, new SaveSetting
										   {
											   CarrierId = CarrierId,
											   UserName  = UserName
										   } );
	}

	protected override async void OnInitialized()
	{
		try
		{
			await base.OnInitializedAsync();
			await LoadSettings();
			EnableSignIn();
		}
		catch( Exception E )
		{
			Console.WriteLine( E.Message );
		}
	}

	private void ErrorOnClose()
	{
		DisableSignIn = true;
	}

	private async void ExecuteSignIn()
	{
		try
		{
			DisableSignIn = true;
			ErrorVisible  = false;

			try
			{
				var Account = CarrierId.Trim();
				var UName   = UserName.TrimToUpper();

				( var Status, UName, var TestServer ) = await ClientLogin.Login( TripManagement.Globals.CurrentVersion.PROGRAM_VERSION, Account, UName, Password );

				switch( Status )
				{
				case ClientLogin.LOGIN_STATUS.TIME_ERROR:
					ErrorText    = "Time Error";
					ErrorVisible = true;
					break;

				case ClientLogin.LOGIN_STATUS.FAILED:
					ErrorText    = "Invalid Credentials";
					ErrorVisible = true;
					break;

				default:
					await SaveSettings();

					Globals.Login.CarrierId  = CarrierId.ToUpper();
					Globals.Login.UserName   = UName.ToUpper();
					Globals.Login.TestServer = TestServer;

					Globals.MainLayout.MenuVisible = true;
					await Update.Initialize();
					Globals.Gps.StartCollecting();
					TripListener.StartListening( UName );
					NavigationManager.NavigateTo( "/Home" );
					break;
				}
			}
			catch( Exception E )
			{
				Console.WriteLine( E );
				return;
			}

			DisableSignIn = false;
			StateHasChanged();
		}
		catch( Exception E )
		{
			Console.WriteLine( E );
		}
	}

	private void OnChange()
	{
		EnableSignIn();
	}

}
