﻿@namespace Components.Ribbon

<CascadingValue Value="this">
	<article class="ribbon" style="padding-left: @PaddingLeft; margin-top: @MarginTop; background-color: @BackgroundColor">
		<div class="ribbonContainer">
			<div class="ribbonContainer1">
				@ChildContent
			</div>
		</div>
	</article>
</CascadingValue>

@code {

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string PaddingLeft { get; set; } = ".5rem";

	[Parameter]
	public string MarginTop { get; set; } = ".4rem";

	[Parameter]
	public string BackgroundColor { get; set; } = "transparent";

	private readonly List<RibbonSection> Sections = new();

	internal Ribbon AddItem( RibbonSection item )
	{
		Sections.Add( item );
		StateHasChanged();
		return this;
	}

}
