﻿@namespace Components.Ribbon

<style>
	.ribbonSection {
		border-right: var(--RibbonRightBorder);
		border-right-style: solid;
		display: flex;
		flex-direction: column;
		width: fit-content;
		margin-left: .2rem;
	}

	.ribbonSectionContent {
		width: 100%;
		height: 100%;
	}

	.ribbonSection h2, h3 {
		width: 100%;
		padding: .5rem;
		margin: 0;
		height: fit-content;
		margin-bottom: 1px;
	}
	.ribbonSection h3 {
		font-weight: 400;
		text-align: center;
		font-size: small;
		vertical-align: bottom;
		padding-bottom: 0;
	}

	.ribbonSection h2 {
		font-weight: 500;
		text-align: left;
		font-size: 1rem;
		background-color: var(--RibbonSectionHeaderBackground);
	}

	.OddEven > .ribbonItem:nth-child(even) { background-color: var(--OddBackground) !important; }
</style>

<CascadingValue Value="this">
	<section class="ribbonSection" style="background-color: @BackgroundColor">
		@if( Header != "" )
		{
			<h2>@Header</h2>
		}
		<div class="ribbonSectionContent @Class">
			@ChildContent
		</div>
		@if( Footer != "" )
		{
			<h3>@Footer</h3>
		}
	</section>
</CascadingValue>

@code {

	private string Class = "";

	[CascadingParameter]
	private Ribbon? Parent { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public bool OddEven { get; set; }

	[Parameter]
	public string Footer { get; set; } = "";

	[Parameter]
	public string Header { get; set; } = "";

	[Parameter]
	public string BackgroundColor { get; set; } = "transparent";

	private readonly List<RibbonItem> Items = new();

	internal RibbonSection AddItem( RibbonItem item )
	{
		Items.Add( item );
		StateHasChanged();
		return this;
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();
		if( Parent is not {} P )
			throw new ArgumentNullException( nameof( Parent ),
											 "RibbonSection must exist within a RibbonControl" );
		P.AddItem( this );

		if( OddEven )
			Class = "OddEven";
	}

}
