﻿.ribbon { width: 100%; }

.ribbonContainer {
    border-left: var(--RibbonLeftBorder);
    border-left-style: dashed;
}

.ribbonContainer1 {
    border-left: var(--RibbonLeftBorder);
    border-left-style: dashed;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 1px;
}