.navbar {
    padding: 0;
    background-color: var(--NavBarBackground);
    border-bottom: 2px solid var(--NavBarBottomBorder);
    height: 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    font-weight: 600;
    position: relative;
}


#menuDropDown { padding: .5rem; }

#menuDropDown:hover {
    color: var(--NavBarMenuIconHoverColour);
    background-color: var(--NavBarMenuIconHoverBackground);
    border-radius: .5rem;
}

#ids {
    color: var(--NavBarIds);
    font-weight: 600;
    margin-left: 2rem;
}

#mainSubMenu {
    visibility: hidden;
    position: absolute;
    width: fit-content;
    left: 1rem;
    margin-top: -0.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--NavBarSubMenuColour);
    border-color: var(--NavBarDropShaddowColour);
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
}

#mainSubMenu h1 {
    font-size: .7rem;
    border: none;
    border-bottom: var(--NavBarDropShaddowColour);
    font-weight: 500;
    border-bottom-style: solid;
    border-width: 1px;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.mainSubMenuTransition {
    transition: visibility 1s, opacity 1s;
    visibility: visible;
    opacity: 1;
}


.dropbtn {
    color: var(--NavBarMainMenuColour);
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: .2rem;
    font-weight: 400;
    background-color: transparent;
    margin-left: 1rem;
}

.dropbtn a:hover { color: var(--NavBarSubMenuColour); }

.dropbtn .oi { margin-left: .3rem; }

.dropbtn .oi:empty:before {
    vertical-align: middle;
    zoom: 0.75;
    opacity: .6;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: transparent;
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--NavBarSubMenuColour) !important;
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: var(--NavBarDropDownHoverColour) }
.dropdown:hover .dropdown-content {
    display: block;
    background-color: var(--NavBarMenuIconHoverColour)
}
.dropdown:hover .dropbtn { background-color: transparent; }