﻿@using Client.Views
@using Client
<style>
	/*Won't work in isolated css'*/
	.navbarTop-item .navbar-link {
		color: var(--NavBarMainMenuColour) !important;
		text-decoration: none !important;
		text-transform: uppercase;
		font-weight: 400;
	}

	.navbar-item .navbar-link { color: var(--NavBarSubMenuColour) !important; }
	.navbar-link span.oi {
		color: var(--NavBarIconColour);
		padding-right: 1rem;
	}

	.dropbtn { text-transform: capitalize; }
	.dropbtn-content {
		font-weight: 400;
		opacity: 1;
	}
	.dropdown-content .active { color: var(--NavBarSubMenuColour) !important; }
	.dropdown-content a {
		color: var(--NavBarSubMenuColour) !important;
		font-weight: 400;
	}

</style>

<section class="ps-3 navbar">
	<div id="menuDropDown" class="oi oi-grid-three-up" @attributes="MainSubMenuAttributes" @onclick="ToggleMenu ">
	</div>
	<div id="menuIds">
		<span id="ids">IDS </span>
		<span>Internet Dispatch Services</span>
	</div>
	<div @attributes="SignedInAttributes">
		<div class="px-5 navbarTop-item">
			<NavLink class="navbar-link" href="/Trips/SearchTrips">
				Search
			</NavLink>
			<div class="dropdown" @attributes="ImportAttributes">
				<button class="dropbtn">IMPORT<span class="oi oi-caret-bottom" aria-hidden="true"></span></button>
				<div class="dropdown-content">
					<a><NavLink href="/Routing/Manifest">MANIFEST CSV</NavLink></a>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="mainSubMenu" class="box-shadow glass" style="visibility: @MainSubmenuVisible" @onfocusout="LostFocus ">
	<div @attributes="ShowInitialMenu">
		<h1>Select Log-in</h1>
		<nav class="flex-column">
			<div class="px-3 navbar-item">
				<NavLink class="navbar-link" href="" Match="NavLinkMatch.All">
					<span class="oi oi-home" aria-hidden="true"></span>Home
				</NavLink>
			</div>
			<div class="px-3 navbar-item">
				<NavLink class="navbar-link" href="/CarrierSignIn">
					<span class="oi oi-person" aria-hidden="true"></span>Carrier
				</NavLink>
			</div>
			<div class="px-3 py-3 navbar-item">
				<NavLink class="navbar-link" href="/ShippingPortalSignIn">
					<span class="oi oi-briefcase" aria-hidden="true"></span>Shipping Portal
				</NavLink>
			</div>
		</nav>
	</div>
	<div @attributes="ShowSignedInMenu">
		<h1>Select</h1>
		<nav class="flex-column">
			<div class="px-3 navbar-item">
				<NavLink class="navbar-link glass" href="/Blank" Match="NavLinkMatch.All">
					<span class="oi oi-home" aria-hidden="true"></span>Home
				</NavLink>
			</div>
			<div class="px-3 navbar-item glass">
				<NavLink class="navbar-link" href="/SignOut">
					<span class="oi oi-person" aria-hidden="true"></span>Sign Out
				</NavLink>
			</div>
		</nav>
	</div>

</section>

@code {

	public static NavMenu Instance = null!;

	string MainSubmenuVisible = "";

	readonly Dictionary<string, object> MainSubMenuAttributes = new(),
	SignedInAttributes = new(),
	ImportAttributes = new(),
	ShowInitialMenu = new(),
	ShowSignedInMenu = new();

	private void ShowMenu( bool initialMenu )
	{
		ShowSignedInMenu.Visible( !initialMenu );
		ShowInitialMenu.Visible( initialMenu );
	}

	protected override void OnInitialized()
	{
		Instance = this;
		base.OnInitialized();
		SignedInAttributes.Visible( false );
		ImportAttributes.Visible( false );
		ShowMenu( true );
		LostFocus();
	}

	private void ToggleMenu()
	{
		var Vis = !MainSubmenuVisible.IsVisible();
		MainSubmenuVisible = Vis.Visible();
		MainSubMenuAttributes.Selected( Vis );
	}

	private void LostFocus()
	{
		MainSubmenuVisible = false.Visible();
		MainSubMenuAttributes.Selected( false );
	}

	public void SignedIn()
	{
		SignedInAttributes.Visible( true );
		ImportAttributes.Visible( Globals.SignIn.SignInType == Globals.SignIn.SIGN_IN_TYPE.CARRIER );
		ShowMenu( false );
		InvokeAsync( StateHasChanged );
	}

	public void SignOut()
	{
		Globals.SignIn.SignInType = Globals.SignIn.SIGN_IN_TYPE.NONE;
		Globals.User.CarrierId = "";
		Globals.User.UserName = "";
		Globals.ShippingPortal.AccountId = "";

		SignedInAttributes.Visible( false );
		ImportAttributes.Visible( false );
		ShowMenu( true );
		InvokeAsync( StateHasChanged );
	}

}
