﻿@namespace Components.Dialogs

<div>
	<PopupDialog Header="Confirm"
				 IsVisible="@IsVisible"
				 Message="@Message"
				 OnCancel="DoCancel"
				 OnOk="OnOk"/>
</div>

@code {

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public string? Message { get; set; }

	[Parameter]
	public Action<bool>? OnClose { get; set; }

	private void DoCancel()
	{
		OnClose?.Invoke( false );
	}

	private void OnOk()
	{
		OnClose?.Invoke( true );
	}

}
