﻿@namespace Components.Dialogs

<div>
	<PopupDialog Header="Error"
				 IsVisible="@IsVisible"
				 Message="@Message"
				 OnCancel="DoCancel"/>
</div>

@code {

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public string? Message { get; set; }

	[Parameter]
	public Action? OnClose { get; set; }

	private void DoCancel()
	{
		OnClose?.Invoke();
	}

}
