﻿@namespace Components.Dialogs

@if( IsVisible )
{
	<style>
		.centered-dialog {
			display: flex;
			justify-content: center;
			align-items: center;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000000;
			background-color: rgba(0, 0, 0, 0.8);
			z-index: 1000; /* Ensure it is above other elements */
		}

		.dialog-content {
			background-color: darkblue;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 2px 10px #000000;
			box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
			max-width: 90%; /* Ensure it fits on small screens */
			max-height: 90%; /* Ensure it fits on small screens */
			overflow: auto; /* Scroll if content is too large */
		}


		.button {
			float: right;
			margin-right: 3rem;
			background-color: transparent;
			font-size: 1.5rem;
			border: none;
			color: white;
		}

		.inner pre { font-size: 1.2rem; }
	</style>

	<div class="centered-dialog">
		<div class="dialog-content">
			<h1>@Header</h1>
			<p><pre>@Message</pre></p>
			@if( OnOk is not null )
			{
				<button class="button" @onclick="DoOnOk">OK</button>
			}
			@if( OnCancel is not null )
			{
				<button class="button" @onclick="DoOnCancel">Cancel</button>
			}
		</div>
	</div>
}

@code {

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public string? Header { get; set; }

	[Parameter]
	public string? Message { get; set; }

	[Parameter]
	public Action? OnOk { get; set; }

	[Parameter]
	public Action? OnCancel { get; set; }

	[Parameter]
	public Action? OnClose { get; set; }

	private void DoOnOk()
	{
		OnOk?.Invoke();
		Close();
	}

	private void DoOnCancel()
	{
		OnCancel?.Invoke();
		Close();
	}

	private void Close()
	{
		IsVisible = false;
		OnClose?.Invoke();
		StateHasChanged();
	}

}
