﻿@namespace Components.AzureMaps

@inject IJSRuntime Js

<style>
	pre { margin: 0; }

	.map100P {
		height: 100%;
		width: 100%;
	}

	.mapBackground { background-color: azure; }

	.mapHeader {
		background-color: var(--NavBarBackground);
		font-size: 1rem;
		font-size: .75rem;
		font-weight: lighter;
		margin: 0;
		padding-left: .5rem;
		width: 100%;
	}

	.popup-content-container {
		box-shadow: 5px 5px 10px var(--NavBarDropShaddowColour) !important;
		padding: 0;
	}

	.desc { padding: 10px; }

	.azureMapPopup {
		font-size: 12px;
		max-width: fit-content;
		padding: 0;
		font-family: inherit;
	}

	.azureMapPopup .name {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0px;
		padding: 2px 5px 0px 5px;
		background-color: var(--FormStyle1H2Background);
		border-bottom-style: solid;
		border-bottom-color: var(--FormStyle1Border);
		border-width: 2px;
	}

</style>

<div class="map100P @Model!.Class">
	<h3 class="mapHeader @Model.HeaderClass">@Model.Header</h3>
	<div id="@Model.MapId" class="map100P mapBackground"></div>
</div>

@code
{
#nullable enable

	private AzureMapViewModel? Model;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Model = new AzureMapViewModel( () =>
									   {
										   InvokeAsync( StateHasChanged );
									   } )
				{
					JsRuntime = (JSRuntime)Js,
					MapId = MapId,
					Header = Header,
					Class = Class,
					HeaderClass = HeaderClass,
					Animation = Animation,
					Route = Route
				};
	}

	private string _MapId = "";

	[Parameter]
	public string MapId
	{
		get => _MapId;
		set
		{
			_MapId = value;
			if( Model is {} M )
				M.MapId = value;
		}
	}


	private string _Header = "";

	[Parameter]
	public string Header
	{
		get => _Header;
		set
		{
			_Header = value;
			if( Model is {} M )
				M.Header = value;
		}
	}

	private string _Class = "";

	[Parameter]
	public string Class
	{
		get => _Class;
		set
		{
			_Class = value;
			if( Model is {} M )
				M.Class = value;
		}
	}

	private string _HeaderClass = "";

	[Parameter]
	public string HeaderClass
	{
		get => _HeaderClass;
		set
		{
			_HeaderClass = value;
			if( Model is {} M )
				M.HeaderClass = value;
		}
	}

	#region Amimation
	private string _Animation = "None";

	[Parameter]
	public string Animation
	{
		get => _Animation;
		set
		{
			_Animation = value;
			if( Model is {} M )
				M.Animation = value;
		}
	}
	#endregion

	#region Route
	private IEnumerable<RouteEntry> _Route = new List<RouteEntry>();

	[Parameter]
	public IEnumerable<RouteEntry> Route
	{
		get => _Route;
		set
		{
			_Route = value;
			if( Model is {} M )
				M.Route = value;
		}
	}
	#endregion
}
