.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main { flex: 1; }

    main .headerTable {
        width: 100%;
    }

    main .headerTable th {
        background-color: var(--primary-background-color);
        border-bottom: 2px solid var(--primary-border-color);
        color: var(--secondary-text-color);
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: normal;
        line-height: normal;
        margin: 0;
        padding: 0;
        text-align: left;
        vertical-align: text-bottom;
    }

    main .headerTable th:nth-child(1) {
        color: var(--primary-text-color);
        font-size: 1.3rem;
        padding-left: .5rem;
        width:30%;
    }

    main .headerTable th text {
        margin: 0;
        vertical-align: top;
    }


    main .headerTable th:nth-child(2), th:nth-child(3) {
        text-align: left;
    }

    main .headerTable th:nth-last-child(2) {
        height: 20px;
        width: 20px;
        text-align: center;
        vertical-align: middle;
    }

    main .headerTable th:nth-last-child(1) {
        height: 25px;
        width: 25px;
    }

    main .headerTable img {
        height:100%;
        width: 100%;
    }

    main .headerTable button {
        background-color: transparent;
        border: none;
    }

@media (max-width: 450px) {
    main .headerTable th {
        font-size: .8rem;
    }

    main .headerTable th:nth-child(1) {
        padding-left: .25rem;
    }

    main .headerTable th:nth-last-child(2) {
        height: 15px;
        width: 15px;
    }

    main .headerTable th:nth-last-child(1) {
        height: 20px;
        width: 20px;
    }
}

main #mainDebugRow th {
    font-size: .8rem;
    padding: 0;
    text-align: left;
    color: var(--debug-text-color);
}

main #mainDebugRow th text{
    height:100%;
    margin: 0;
    margin-top:.4rem;
}

main .content {
    background-color: black;
    color: white;
    height: 100vh;
    width: 100vw;
}

main article {
    padding: 0 !important;
}

