﻿@using System.Reflection
@using System.Timers
@using Components.BarcodeScanner
@using Components.Menu
@using Components.WaitingForShipments
@using Extensions
@using Storage
@using TripManagement.Listeners
@using Utils
@using Globals = Globals
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
	<main>
		<table class="headerTable">
			<thead>
			<tr>
				<th>
					<text>IDS Mobile</text>
				</th>
				<th>
					<text>@Globals.Login.CarrierId</text>
				</th>
				<th>
					<text>@Globals.Login.UserName</text>
				</th>
				<th>
					@if( Online )
					{
						<image src="/images/online32x32.png"/>
					}
					else
					{
						<image src="/images/offline32x32.png"/>
					}
				</th>
				<th>
					@if( MenuVisible )
					{
						<button @onclick="ToggleMenu">
							<image src="/images/menu32x32.png"/>
						</button>

						<PopupMenu IsVisible="@PopupMenuVisible"/>
					}
				</th>
			</tr>
			<tr id="mainDebugRow">
				<th colspan="1">
					@if( Globals.Debug.IsTesting )
					{
						<text>VP:@( $"{ViewportSize.Width} x {ViewportSize.Height}" )</text>
					}
				</th>
				<th colspan="4">
					<text>@Title</text>
				</th>
			</tr>
			</thead>
			<tr>
				<td colspan="2">
					<BarcodeScanner/>
				</td>
			</tr>
		</table>
		<article class="content">
			<WaitingForShipments @ref=" Waiting"></WaitingForShipments>
			@Body
		</article>
	</main>
</div>

@code {

	private        bool    PopupMenuVisible;
	private        string  _Title = "";
	private static string? AssemblyName;


	private Dimensions ViewportSize = new();

	[Inject]
	private IJSRuntime? JsRuntime { get; set; }

	[Parameter]
	public bool Online { get; set; } = true;

	[Parameter]
	public string Title
	{
		get => _Title;
		set
		{
			if( value != _Title )
			{
				_Title = value;
				StateHasChanged();
			}
		}
	}

	[Parameter]
	public bool MenuVisible { get; set; }

	protected override async void OnInitialized()
	{
		try
		{
			Globals.MainLayout.Instance            = this;
			TripManagement.Globals.CURRENT_VERSION = Globals.CurrentVersion.PROGRAM_VERSION;

			await base.OnInitializedAsync();

			var Js = JsRuntime!;

			ViewportSize = await Js.GetViewportSizeAsync() ?? new Dimensions();

			Storage.Initialise( Js );
			Globals.Gps.Initialise( Js );

			Ping.Initialise();

			TripManagement.Globals.OnPing.Add( ( _, onLine ) =>
											   {
												   if( onLine != Online )
												   {
													   Online = onLine;
													   StateHasChanged();
												   }
											   } );

			TripManagement.Globals.OnWaitingForTrips = OnWaitingForShipments;
		}
		catch( Exception E )
		{
			Console.WriteLine( E );
		}
		finally
		{
			StateHasChanged();
		}
	}

	protected override async void OnAfterRender( bool firstRender )
	{
		try
		{
			if( firstRender )
			{
				var J     = JsRuntime!;
				var AName = AssemblyName ??= Assembly.GetExecutingAssembly().GetName().Name;
				await J.InvokeVoidAsync( "initializeBrowserRefresh", AName, nameof( OnBrowserRefresh ) );

				// Check if the page was refreshed
				var IsRefreshStr = await J.InvokeAsync<string>( "sessionStorage.getItem", "isRefresh" );
				var IsRefresh    = IsRefreshStr.IsNotNullOrEmpty();

				// Force relog-in if the page was refreshed
				if( IsRefresh )
				{
					// Clear the flag
					await J.InvokeVoidAsync( "sessionStorage.removeItem", "isRefresh" );

					// Navigate to the initial page
					var Nav = Navigation;

					if( Nav.Uri != Nav.BaseUri )
						Nav.NavigateTo( "/", true );
				}
			}
		}
		catch
		{
		}
	}

#region Waiting For Shipments
	private Timer? WaitingTimer;

	private WaitingForShipments? Waiting;


	private void OnWaitingForShipments( bool visible )
	{
		if( visible )
		{
			if( WaitingTimer is null )
			{
				WaitingTimer = new Timer( 1_000 ) { AutoReset = false };

				WaitingTimer.Elapsed += ( _, _ ) =>
										{
											Waiting!.IsVisible = true;
										};

				Waiting!.IsVisible = true;
			}
			else
			{
				WaitingTimer.Stop();
				WaitingTimer.Start();
			}
		}
		else
		{
			WaitingTimer?.Stop();
			Waiting!.IsVisible = false;
		}
	}
#endregion


	private void ToggleMenu()
	{
		PopupMenuVisible = !PopupMenuVisible;
	}

	[JSInvokable]
	public static void OnBrowserRefresh()
	{
	}

}

@* Include JavaScript directly in the Razor component *@
<script>
	window.initializeBrowserRefresh = (assemblyName, refresh ) => {
		window.onbeforeunload = function() {
			sessionStorage.setItem('isRefresh', 'true');
			DotNet.invokeMethodAsync(assemblyName, refresh);
		};

	};
</script>
