﻿@using Blazored.LocalStorage
@using Client
@using Client.Views
@using Client.Views.SignIn
@using Microsoft.AspNetCore.Components
@using WebClient.Views._MainLayout
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager;

<PageTitle>@Header</PageTitle>

<article class="form-style-1-Content">
	<div class="form-style-1">
		<h2>@Header</h2>
		<section>
			<div @attributes="CarrierVisibleAttributes">
				<label for="carrierId">Carrier:</label>
				<input id="carrierId" @attributes="CarrierAttributes" placeholder="Minimum 6 characters" @bind-value="Model.CarrierId" @bind-value:event="oninput"/>
			</div>

			<label for="userName">User Name:</label>
			<input id="userName" @attributes="UserAttributes" placeholder="Minimum 2 characters" @bind-value="Model.UserName" @bind-value:event="oninput"/>

			<label for="password">Password:</label>
			<input id="password" type="password" @attributes="PasswordAttributes" placeholder="Minimum 4 characters" @bind-value="Model.Password" @bind-value:event="oninput"/>

			<button @attributes="SignInAttributes" @onclick="() => Model.ExecuteSignIn() ">Sign-in</button>

			<div id="ErrorDiv">
				<span id="errorText" @attributes="ErrorAttributes">Invalid Credentials</span>
			</div>
		</section>
	</div>
</article>

@code {

	[Parameter]
	public string Header { get; set; } = "";

	[Parameter]
	public Globals.SignIn.SIGN_IN_TYPE SignInType { get; set; } = Globals.SignIn.SIGN_IN_TYPE.NONE;


	private const string SETTINGS = "SignInSettings";

	SignInViewModel Model = null!;

	readonly Dictionary<string, object> UserAttributes = new(),
	PasswordAttributes = new(),
	SignInAttributes = new(),
	ErrorAttributes = new(),
	CarrierAttributes = new(),
	CarrierVisibleAttributes = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();

		CarrierVisibleAttributes.Visible( SignInType != Globals.SignIn.SIGN_IN_TYPE.SHIPPING_PORTAL );

		var M = new SignInViewModel( SignInType,
									 async () => await LocalStorage.GetItemAsStringAsync( SETTINGS ),
									 async saveData => await LocalStorage.SetItemAsStringAsync( SETTINGS, saveData ),
									 () => InvokeAsync( StateHasChanged ) )
				{
					OnError = errors =>
							  {
								  CarrierAttributes.InError( ( errors & SignInViewModel.ERRORS.CARRIER ) != 0 );
								  UserAttributes.InError( ( errors & SignInViewModel.ERRORS.USER_NAME ) != 0 );
								  PasswordAttributes.InError( ( errors & SignInViewModel.ERRORS.PASSWORD ) != 0 );
								  SignInAttributes.Enable( errors == SignInViewModel.ERRORS.NONE );
								  ErrorAttributes.Visible( ( errors & SignInViewModel.ERRORS.CREDENTIALS ) != 0 );
							  },
					OnSignIn = ok =>
							   {
								   if( !ok )
								   {
									   void Changed()
									   {
										   InvokeAsync( StateHasChanged );
									   }

									   ErrorAttributes.Hidden( false );
									   Changed();

									   Tasks.RunVoid( 3_000, () =>
															 {
																 ErrorAttributes.Hidden( true );
																 Changed();
															 } );
								   }
								   else
								   {
									   Model.SaveSettings();
									   Globals.SignIn.SignInType = SignInType;
									   NavMenu.Instance.SignedIn();
									   NavigationManager.NavigateTo( "/Blank" );
								   }
							   }
				};

		Model = M;
		M.OnError( SignInViewModel.ERRORS.ALL );
		SignInAttributes.Disable( true );
		ErrorAttributes.Hidden( true );
		Model.LoadSettings();
	}
}
