﻿@page "/Trips/SearchTrips"
@using Components.Ribbon

<PageTitle>Search Shipments</PageTitle>

<Ribbon>
	<RibbonSection OddEven="true">
		<RibbonItem>
			<h2>Select Dates</h2>
			<div>
				<label for="fromDate">From: </label>
				<input id="fromDate" type="date"/>
				<label for="toDate">From: </label>
				<input id="toDate" type="date"/>
				<input id="localTime" type="checkbox"/>
				<label for="localTime">Show As Local Time</label>
			</div>
		</RibbonItem>
		<RibbonItem>
			<div id="times">
				<span id="whichTime">Which Time:</span>
				<input id="callTime" type="radio" name="times"/>
				<label for="callTime">Call</label>
				<input id="pickupTime" type="radio" name="times"/>
				<label for="pickupTime">Pickup</label>
				<input id="deliveredTime" type="radio" name="times"/>
				<label for="deliveredTime">Delivered</label>
			</div>
		</RibbonItem>
	</RibbonSection>
	<RibbonSection Header="Or Search by Shipment ID or Client Reference" OddEven="true">
		<RibbonItem>
			<div class="flex flex-row">
				<input id="byShipment" type="checkbox"/>
				<label for="shipmentId">Shipment ID: </label>
				<input id="shipmentId" type="text"/>
			</div>
		</RibbonItem>
	</RibbonSection>

</Ribbon>

@code
{
	InputDate<DateTimeOffset> InputTextReference = new();
	DateTimeOffset FromDate = DateTimeOffset.MinValue;
}
