﻿@using Records
@using Components.TripDetails
@using Utils
@namespace Components.DisplayShipments
<style>
	.trip {
		vertical-align: top;
		width: 100%;
	}

	.trip th {
		background-color: transparent;
		font-weight: 500;
		width: auto;
	}

	.tripPickupDelivery { width: 8px; }

	.trip table {
		border-bottom-color: var(--primary-border-color);
		border-bottom-style: solid;
		border-bottom-width: 2px;
		width: 100%;
	}

	.trip table th { font-weight: bolder; }

	.trip .scanned, .remaining {
		font-size: 1.5rem;
		vertical-align: bottom
	}

	.trip .scanned span { color: var(--primary-scanned-color) }

	.trip .remaining span { color: var(--primary-remaining-color) }

	.trip .unread {
		background-color: var(--primary-unreadByDriver-color);
		color: var(--primary-unreadByDriverText-color);
	}

	.trip .read {
		background-color: var(--primary-readByDriver-color);
		color: var(--primary-readByDriverText-color);
	}

</style>

@if( !DetailsVisible )
{
	@if( IsVisible && Trips is not null )
	{
		@foreach( var (TripId, Entry) in Trips )
		{
			@if( Entry.IsVisible )
			{
				<table class="trip" @onmousedown="OnMouseDown" @onmouseup="() => { OnMouseUp( Entry ); }">
					<tr>
						@if( Entry.IsPickup )
						{
							<td class="tripPickupDelivery" style="background-color: var(--primary-pickup-color)"></td>
						}
						else
						{
							<td class="tripPickupDelivery" style="background-color: var(--primary-delivery-color)"></td>
						}
						<td>
							<table>
								<thead>
								@{
									var Class = !Entry.ReadByDriver ? "unread" : "read";
								}

								<tr class="@Class">
									<th class="text-align-center" style="background-color: @Entry.ServiceLevelBackgroundAsString; color: @Entry.ServiceLevelForegroundAsString;">
										@Entry.ServiceLevel
									</th>
									<th>
										@Entry.PackageType
									</th>
									<th class="text-align-right">
										@Entry.PiecesAsString
									</th>
									<th class="text-align-right">
										@Entry.WeightAsString
									</th>
									<th class="text-align-center">
										@Entry.PickupDeliveryDateTimeAsString
									</th>
								</tr>
								</thead>
								<tr>
									<td colspan="4">
										@Entry.DisplayCompanyName
									</td>
									<td class="text-align-right">
										@Entry.DisplayLocation
									</td>
								</tr>
								<tr>
									<td colspan="5">
										@Entry.DisplayAddress
									</td>
								</tr>
								@if( Entry.DisplayNotes.IsNotNullOrWhiteSpace() )
								{
									<tr>
										<td colspan="5">
											@Entry.DisplayNotes
										</td>
									</tr>
								}
								<tr>
									<td colspan="3">
										@TripId
									</td>

									@if( ShowScanned )
									{
										<td class="scanned">
											@( Entry.IsPickup ? PickupScannedText : DeliveryScannedText ): <span>@Entry.ScannedAsString</span>
										</td>

										<td class="remaining">
											Remaining: <span>@Entry.RemainingAsString</span>
										</td>
									}
								</tr>
							</table>
						</td>
					</tr>
				</table>
			}
		}
	}
}
else
{
	<TripDetails Trip="Trip"
				 IsVisible="DetailsVisible"
				 OnBack="OnBack">
	</TripDetails>
}

@code {

	private OBSERVABLE_TRIP_DICTIONARY? Trips;
	private TripDisplayEntry?           Trip;
	private bool                        DetailsVisible;

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public bool ShowScanned { get; set; }

	[Parameter]
	public string PickupScannedText { get; set; } = "Picked-up";

	[Parameter]
	public string DeliveryScannedText { get; set; } = "Delivered";

	[Parameter]
	public Action<OBSERVABLE_TRIP_DICTIONARY>? OnTrips { get; set; }

	[Parameter]
	public Action<TripDisplayEntry>? OnClick { get; set; }

	[Parameter]
	public Action<TripDisplayEntry>? OnLongClick { get; set; }

	[Parameter]
	public bool ShowDetailsOnLongClick { get; set; } = true;


	protected override void OnInitialized()
	{
		base.OnInitialized();

		Globals.GetTrips( App.Globals.Login.UserName, trips =>
													  {
														  Trips = trips;

														  if( OnTrips is not null )
														  {
															  InvokeAsync( () =>
																		   {
																			   OnTrips.Invoke( trips );
																		   } );
														  }

														  StateHasChanged();
													  } );
	}

#region Click
	private DateTime DownClick = DateTime.MinValue;

	private void OnMouseDown()
	{
		DownClick = DateTime.Now;
	}

	private void OnMouseUp( TripDisplayEntry entry )
	{
		InvokeAsync( async () =>
					 {
						 if( ( DateTime.Now - DownClick ).TotalMilliseconds < 300 )
							 OnClick?.Invoke( entry );
						 else
						 {
							 OnLongClick?.Invoke( entry );

							 if( ShowDetailsOnLongClick )
							 {
								 Trip           = entry;
								 DetailsVisible = true;
								 StateHasChanged();

								 if( !Trip.ReadByDriver )
								 {
									 await Update.UpdateTrip( new TripManagement.Packets.ReadByDriver( new ReadByDriver( Globals.CURRENT_VERSION, Trip ) ) );
									 Trip.ReadByDriver = true;
								 }
							 }
						 }
					 } );
	}
#endregion

	private void OnBack()
	{
		DetailsVisible = false;
		StateHasChanged();
	}

}
