﻿@using Components.Details
@using Components.Dialogs
@using Components.SignaturePad
@using Extensions
@using Utils
@namespace Components.PopPodSign

<style>
	.popPodSign {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	.popPodSign .buttonsDiv {
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		margin-bottom: 2.5rem;
		width: 100%;
	}

	.popPodSign .buttonsDiv button {
		background-color: var(--primary-background-color);
		border: none;
		color: var(--primary-text-color);
		flex-grow: 1;
		font-size: 1.5rem;
		height: 100%;
		padding-bottom: .5rem;
	}

	.popPodSign .buttonsDiv button[disabled="disabled"] { color: var(--button-disabled-color); }
</style>

<div class="popPodSign">
	<div class="flex-grow-1" style="display: @DetailsVisibleAsString">
		<ConfirmDialog IsVisible="@ConfirmDialogVisible"
					   Message="Cancel Pickup / Delivery?"
					   OnClose="@OnConfirmClose">
		</ConfirmDialog>

		<div class="flex-grow-1">
			<Details IsVisible="true"
					 DisplayPopPod="true"
					 EditPopPod="true"
					 Trip="@Trip"
					 PiecesText="Total Pieces"
					 EditPieces="@EditPieces"
					 Pieces="@Pieces"
					 WeightText="Total Weight"
					 EditWeight="@EditWeight"
					 Weight="@Weight"
					 EditReference="@EditReference"
					 OnEdit="OnEdit">
			</Details>
		</div>
	</div>
	<div class="flex-grow-1" style="display: @SignatureVisibleAsString">
		<SignaturePad @ref="@SignaturePad"
					  IsVisible="@IsSignatureVisible"
					  OnCancel="OnSignatureCancel"
					  OnOk="OnSignatureOk">
		</SignaturePad>
	</div>
	<div class="buttonsDiv" style="display: @DetailsVisibleAsString">
		<button @attributes="@AcceptAttributes" @onclick="OnAcceptClick">Accept</button>
		<button @onclick="OnSignatureClick">Signature</button>
		<button @onclick="OnCancelClick">Cancel</button>
	</div>
</div>

@code {

	private bool EditPieces,
				 EditWeight,
				 EditReference,
				 // Pop or Pod
				 RequirePop,
				 RequirePod,
				 // Signature
				 RequirePodSignature,
				 RequirePopSignature,
				 //
				 _IsSignatureVisible,
				 _AcceptDisabled,
				 ConfirmDialogVisible;


	private string Reference                = "",
				   EditedPopPod             = "",
				   SignatureVisibleAsString = VisualStates.DisplayBlock( false ),
				   DetailsVisibleAsString   = VisualStates.DisplayFlex( true );

	private const string DISABLED = "disabled";

	private readonly Dictionary<string, object> AcceptAttributes = new() { { DISABLED, DISABLED } };

#region Signature
	private SignaturePad?                 SignaturePad;
	private SignaturePad.SignatureResult? Signature;


	private bool IsSignatureVisible
	{
		get => _IsSignatureVisible;
		set
		{
			if( value )
				SignaturePad?.Clear();

			if( VisualStates.DisplayBlock( value, ref _IsSignatureVisible, ref SignatureVisibleAsString ) )
			{
				DetailsVisibleAsString = VisualStates.DisplayFlex( !value );
				StateHasChanged();
			}
		}
	}
#endregion

	private bool AcceptDisabled
	{
		set
		{
			if( _AcceptDisabled != value )
			{
				_AcceptDisabled = value;

				if( value )
					AcceptAttributes[ DISABLED ] = DISABLED;
				else
					AcceptAttributes.Remove( DISABLED );

				StateHasChanged();
			}
		}
	}


	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public TripDisplayEntry? Trip { get; set; }

	[Parameter]
	public decimal Pieces { get; set; }

	[Parameter]
	public decimal Weight { get; set; }


	[Parameter]
	public Action? OnAccept { get; set; }

	[Parameter]
	public Action? OnCancel { get; set; }

	private void EnableAccept( string reference, decimal pieces, decimal weight, string popPod )
	{
		var Enable = true;

		if( EditReference )
			Enable &= reference.IsNullOrWhiteSpace();

		if( EditPieces )
			Enable &= pieces > 0;

		if( EditWeight )
			Enable &= weight > 0;

		if( RequirePop )
			Enable &= popPod.IsNotNullOrWhiteSpace();

		if( Enable && Trip is { } T )
		{
			if( ( T.IsPickup && RequirePodSignature ) || ( T.IsDelivery && RequirePopSignature ) )
				Enable = Signature is { Points.Length: > 10 };
			else
				Enable = true;
		}
		AcceptDisabled = !Enable;
	}

	private void EnableAccept()
	{
		EnableAccept( Reference, Pieces, Weight, EditedPopPod );
	}

	protected override void OnInitialized()
	{
		base.OnInitialized();

		EditPieces          = Globals.Preferences.EditPieces;
		EditWeight          = Globals.Preferences.EditWeight;
		EditReference       = Globals.Preferences.EditReference;
		RequirePodSignature = Globals.Preferences.RequirePodSignature;
		RequirePopSignature = Globals.Preferences.RequirePopSignature;
		RequirePop          = Globals.Preferences.RequirePop;
		RequirePod          = Globals.Preferences.RequirePod;

		Reference = Trip?.Reference ?? "";
		EnableAccept();
	}

	private void OnSignatureCancel()
	{
		IsSignatureVisible = false;
		EnableAccept();
		StateHasChanged();
	}

	private void OnSignatureOk( SignaturePad.SignatureResult signature )
	{
		Signature = signature;
		OnSignatureCancel();
	}

	private void OnSignatureClick()
	{
		IsSignatureVisible = true;
	}

	private void HideAll()
	{
		IsSignatureVisible   = false;
		ConfirmDialogVisible = false;
		IsVisible            = false;
		StateHasChanged();
	}

	private void OnConfirmClose( bool ok )
	{
		ConfirmDialogVisible = false;

		if( ok )
		{
			HideAll();
			OnCancel?.Invoke();
		}
		StateHasChanged();
	}

	private void OnCancelClick()
	{
		ConfirmDialogVisible = true;
		StateHasChanged();
	}

	private void OnAcceptClick()
	{
		HideAll();
		OnAccept?.Invoke();
	}

	private void OnEdit( Details.EditData editData )
	{
		EnableAccept( editData.Reference, editData.Pieces, editData.Weight, editData.PopPod );
	}

}
