﻿@using Components.Details
@namespace Components.TripDetails

@if( IsVisible )
{
	<div style="height: 100%; width: 100%;">
		<Details Trip="@Trip"
				 IsVisible="@IsVisible"
				 Reference="@Reference"
				 Pieces="@Pieces"
				 Weight="@Weight"
				 OnBack="OnBackCallback">
		</Details>
	</div>
}

@code {
	private string  Reference = "";
	private decimal Pieces, Weight;

	[Parameter]
	public TripDisplayEntry? Trip { get; set; }

	[Parameter]
	public bool IsVisible { get; set; }

	[Parameter]
	public Action? OnBack { get; set; }


	protected override void OnInitialized()
	{
		base.OnInitialized();

		if( Trip is { } T )
		{
			Reference = T.Reference;
			Pieces    = T.Pieces;
			Weight    = T.Weight;
		}
	}

	private void OnBackCallback( Details.EditData _ )
	{
		OnBack?.Invoke();
	}

}
