﻿@namespace Components.Menu
@inject NavigationManager NavigationManager;

<style>
	.popupMenu {
		position: absolute;
		height: auto;
		width: auto;
		right: 3.5rem;
		top: 3rem;
		border: 1px solid var(--primary-border-color);
		background-color: var(--primary-background-color);
		z-index: 2000;
	}

	.popupMenu h3 {
		margin: 0;
		padding-left: .5rem;
		background-color: var(--menu-background-color);
		font-size: 1.6rem;
	}

	.popupMenu ul {
		list-style-type: none;
		padding: 0;
	}

	.popupMenu li {
		padding: 0 1rem 0 .5rem;
		border: 0px none;
		margin: .5rem 0 0 2rem;
	}

	.popupMenu li:hover {
		background-color: var(--menu-hover-color);
		cursor: pointer;
	}
</style>
<div class="popupMenu" style="@( IsVisible ? "display:block;" : "display:none;" )">
	<h3>Select Option</h3>
	<ul>
		<li @onclick="PickupDeliveries">Pickup / Deliveries</li>
	</ul>
</div>

@code {

	[Parameter]
	public bool IsVisible { get; set; }

	private void PickupDeliveries()
	{
		IsVisible = false;
		NavigationManager.NavigateTo( "/PickupDeliveries/NoLocation/PickupDeliveries" );
	}

}
