﻿@namespace Components.WaitingForShipments

<style>
	.Waiting {
		background-color: var(--primary-background-color);
		color: yellow;
		font-size: 4rem;
		height: calc(100% - 5rem);
		display: flex;
		justify-content: center; /* Center horizontally */
		align-items: center; /* Center vertically */
		position: absolute;
		text-align: center;
		width: calc(100% - 2rem);
		z-index: 200;
	}
</style>

@if( IsVisible )
{
	<div class="Waiting">
		Waiting for shipments
	</div>
}

@code {

	[Parameter]
	public Action? OnClose { get; set; }

	[Parameter]
	public string? DriverCode { get; set; }

#region IsVisible
	private bool _IsVisible;

	[Parameter]
	public bool IsVisible
	{
		get => _IsVisible;
		set
		{
			if( value != IsVisible )
			{
				_IsVisible = value;
				StateHasChanged();
			}
		}
	}
#endregion


}
