﻿*[data-selected] { color: var(--NavBarIconColour); }
*[data-error] { background-color: var(--InputErrorColour); }
*[data-disabled] {
    opacity: 0.5;
    color: darkgray;
}
*[data-hidden] { display: none !important; }