﻿:root {
    --DefaultBackground: white;
    --DefaultTableBorder: black;
    --NavBarBackground: #fcfcfc;
    --NavBarBottomBorder: #d6d5d5;
    --NavBarIds: #1e90ff;
    --NavBarMenuIconHoverBackground: silver;
    --NavBarMenuIconHoverColour: white;
    --NavBarSubMenuColour: black;
    --NavBarDropShaddowColour: #a4a4a4;
    --NavBarIconColour: #1e90ff;
    --NavBarMainMenuColour: black;
    --NavBarDropDownHoverColour: #f0f0f0;
    /*Controls*/
    --ButtonLinkColour: black;
    --InputErrorColour: bisque;
    --RibbonLeftBorder: #797979;
    --RibbonRightBorder: #a3a3a3;
    --RibbonSectionHeaderBackground: gainsboro;
    /*General*/
    --ErrorText: crimson;
    --OkText: forestgreen;
    --Busy: darkgrey;
    --TableBorder: darkgrey;
    --TableOddBackground: #f0f0f0;
    --OddBackground: #f9f9f9;
    /*Pickups/Deliveries*/
    --PickupBackgroundOdd: #c4e1fd;
    --DeliveryBackgroundOdd: #f5e6cd;
    --PickupAndDeliveryBackgroundOdd: #ffffaa;
    --PickupBackgroundEven: #d8ecff;
    --DeliveryBackgroundEven: #ffeed0;
    --PickupAndDeliveryBackgroundEven: #ffffb3;
}
