﻿:root {
    --FormStyle1H2Background: #f0f0f0;
    --FormStyle1Border: black;
    --FormStyle1ButtonDisabledBackground: #f0f0f0;
    --FormStyle1HeaderBackground: silver;
}

.form-style-1 {
    border-block-color: var(--FormStyle1Border);
    border-style: solid;
    border-width: 1px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px var(--NavBarDropShaddowColour);
    height: fit-content;
    overflow: hidden;
}

.form-style-1-Content { padding: 1rem; }

.form-style-1 section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    justify-content: space-evenly;
    padding-bottom: 0;
}

.form-style-1 button:disabled {
    background-color: var(--FormStyle1ButtonDisabledBackground);
    opacity: 1;
}

.form-style-1 header { background-color: var(--FormStyle1H2Background); }

.form-style-1 h2 {
    background-color: var(--FormStyle1H2Background);
    border-bottom-style: solid;
    border-bottom-color: var(--FormStyle1Border);
    font-weight: 400;
    border-bottom-width: 1px;
    width: 100%;
    margin: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
    padding-bottom: 0.3rem;
    font-size: 1.6rem;
}
.form-style-1 .error {
    color: var(--ErrorText);
    width: fit-content;
}
.form-style-1 .ok { color: var(--OkText); }

.form-style-1 .toolbar {
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-bottom-color: var(--FormStyle1Border);
    border-bottom-width: 1px;
}

.form-style-1 .toolbar h2 { border-bottom-style: none; }
.form-style-1 .toolbar .toolbarItem {
    background-color: transparent;
    padding-top: 0.3rem;
    margin-right: 0.25rem;
}