﻿/* Default */
@media screen and (orientation: landscape) {
    :root { font-size: 16px; }

    @media (max-width: 1080px) {
        :root { font-size: 12px; }
    }

    @media (min-width: 1081px) and (max-width: 1400px) {
        :root { font-size: 14px; }
    }
}

@media screen and (orientation: portrait) {
    :root { font-size: 14px; }
}



/* Fallback Value*/

html, body { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

html, body { font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; }

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body, section { background-color: var(--DefaultBackground); }

h1:focus { outline: none; }

thead { font-weight: 500; }

pre {
    font-family: inherit;
    font-size: inherit;
}

.content {
    width: 100%;
    height: 100%;
}


.oi {
    font-size: 1.1rem;
    vertical-align: text-top;
}

.glass {
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.8);
}

.box-shadow { box-shadow: 5px 5px 10px var(--NavBarDropShaddowColour); }

.busy {
    background-color: var(--Busy);
    background-image: url("images/Spinner.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/*Stickey table*/

.table-sticky-container {
    overflow-y: scroll;
    background-color: var(--DefaultBackground);
}

.table-sticky thead { background-color: var(--DefaultBackground); }

.table-sticky th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--DefaultBackground);
}

.table-sticky th:after,
.table-sticky th:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--DefaultTableBorder);
}

.table-sticky th:before {
    top: -1px;
    border-top: 1px solid var(--DefaultTableBorder);
}

.table-sticky th:after {
    bottom: -1px;
    border-bottom: 2px solid var(--DefaultTableBorder);
}
